
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
     <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/scrollfix.js" type="text/javascript"></script>
    {%block add_head %}
{% endblock add_head%}
 <script >
 
 
$(document).ready(function() { 
	var y=getCookie("UniquePageNameHereScrolly");
	var x =  getCookie("UniquePageNameHereScrollx");
	 window.scrollTo(x, y);
}); 
</script>


<script>
{% block add_script %}
{% endblock add_script %}
</script>



    <!-- styles -->
    <link href="{{ STATIC_URL }}styles/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
   
    {% block add_styles %}
    {% endblock add_styles %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body  onunload="unloadP('UniquePageNameHereScroll')" onload="loadP('UniquePageNameHereScroll')" >

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Sellidify</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sell an Item <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/electronics/sell">Electronics</a></li>
                  <li><a href="/clothing/sell">Clothing</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/items/electronics">Electronics</a></li>
                  <li><a href="/items/clothing">Clothing</a></li>
                </ul>
              </li>
            </ul>
            {%if user.is_authenticated%}
            <div class="navbar-form pull-right">
             <a href="/mycart"><button class="btn btn-success" >My Cart</button></a>
             <div class="btn-group">
       
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{user.first_name}} {{user.last_name}} <span class="caret"></span></button>
        <ul class="dropdown dropdown-menu">
            <li><a href="/myaccount/profile">Profile</a></li>
            <li><a href="/myaccount/mystore">My Store</a></li>
            <li><a href="/myaccount/mystore#messagesinbox">My Messages</a></li>
            <li class="divider"></li>
            <li><a href="/myaccount/logout">Logout</a></li>
        </ul>             
    </div>
           
    </div></div></div></div></div>
     
            {% else %}
            <div class="navbar-form pull-right">
            <ul class="nav">
              <li><a href="/myaccount/login">Login</a></li>
              <li><a href="/myaccount/signup">Create an Account</a></li>
              </ul>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      </div></div>
 
{% endif %}
 <div class= "span9" style="height:40px;width:100%"></div>
    <div class="container"  >
   
	{% block base_content %}


	{% endblock base_content %}
    
      <!-- Example row of columns -->
    

      
<tr></tr>
      <footer>
     
      </footer>

    </div> <!-- /container -->

    <!--javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script  src="{{STATIC_URL}}js/dropdown.js"></script>
   {% block add_js %}
   {%endblock add_js %}

  </body>
</html>
