{% extends "base.html" %}
{% block head_content %}
	<link rel="stylesheet" href="{{ static_url }}styles/jquery-ui.css" id="theme">
	<link rel="stylesheet" href="{{ static_url }}styles/jquery.fileupload-ui.css">

{% endblock head_content %}
{%block base_content %}
<div class= "span9" style="height:30px;width:100%"></div>
<form class = "form-horizontal" id= "edititem" method = "post" enctype="multipart/form-data">
<h5 style = "color:red">{{errormessage}}</h5>
{% csrf_token %}

<div class="control-group">
<label class="control-label" for="name">Listing Name:</label>
 <div class="controls">
      <input type="text" id="name" name = "name" placeholder="Name" value = {{item.name}} required>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="price">Price:</label>
 <div class="controls">
      <input type="text" id="price" name = "price" placeholder="ex 9.99" required pattern = "^\d+(.\d{1,2})?" value = {{item.price}} />
    </div>
  </div>
  
 <div class="control-group">
<label class="control-label" for="newused">Shipping:</label>
 <div class="controls">
   <input type="text" id="shipping" name = "shipping" placeholder="ex 9.99" pattern = "^\d+(.\d{1,2})?" value = {{item.shipping}} required>
   <input type= "checkbox" id = "delivery" name = "delivery"> Allow Pickup</input>
  </div>
  </div>
  
  {% block baseediting_content %}
  {% endblock baseediting_content %}
  
 <div class="control-group">
<label class="control-label" for="descripiton">Description:</label>
 <div class="controls">
      <textarea rows="7" style = "width:500px"id="description" name = "description" placeholder="Enter a Description" >{{item.description}}</textarea>
    </div>
  </div>
  
  <div class="control-group">
 <div class= "controls">
 <input type = "submit" value = "Save Changes" />
{% block uploadpicture %}
{%endblock uploadpicture %}
{% endblock base_content %}
