{% extends "base.html" %}

{% block base_content %}

<div class = "span12" >
<h1 style= "text-align:center"> Welcome to YourMall</h1>

</div>
<form id= "homeform" name= "homeform" class = 'homeform'  action = "" method = "post" >
{% csrf_token %}
<!--  render clothing items if part of user preferences, or it is new -->
{% if clothingitems != None%}
<div class= "span9" >
<ul class="thumbnails">
<div class = "span9">
<h3>Clothing</h3>
</div>
<div class = "span9">
<div class="btn-group ">
  <button class="btn dropdown-toggle" data-toggle="dropdown" >
  {% if clothingsort == "pricelowtohigh"%}Price: Lowest to Highest
  {% elif clothingsort == "pricehightolow" %} Price: Highest to Lowest
    {%else %}Order By{%endif %}
    <span class="caret"></span>
     </button>
    <ul class="dropdown-menu">
    <li><a href="javascript:sortClothing('pricehightolow')">Price: Highest to Lowest</a></li>
    <li><a href="javascript:sortClothing('pricelowtohigh')">Price: Lowest to Highest</a></li>
  </ul>
 </div>
 
 <div class="btn-group ">
  <button class="btn dropdown-toggle" data-toggle="dropdown" >
  {% if clothinggender == "Men"%}Men
  {% elif clothinggender == "Women" %} Women
    {%else %}Both{%endif %}
    <span class="caret"></span>
     </button>
    <ul class="dropdown-menu">
    <li><a href="javascript:sortClothingGender('Women')">Women</a></li>
    <li><a href="javascript:sortClothingGender('Men')">Men</a></li>
    <li><a href="javascript:sortClothingGender('Both')">Both</a></li>
  </ul>
 </div>
 
 
<input type = "hidden" id = "currentpagenoclothing" name = "currentpagenoclothing" value = {% if clothingpage == None %}0{%else%}{{clothingpage}}{%endif%} />
<input type = "hidden" id = "currentclothingsort" name = "currentclothingsort" value = "{% if clothingsort == None %}{%else%}{{clothingsort}}{% endif %}"/>
<input type = "hidden" id = "clothinggender" name = "clothinggender" value = {{clothinggender}} />
<div class="btn-group"  style="float:right;">
  <button class="btn" onclick="return clothingPageDecrease()" ><< Previous</button>
  <button class="btn" onclick= "return clothingPageIncrease();">Next >></button>
</div>
</div>
<div class= "span9" style= "height:10px"></div>
<div class="row-fluid">
{% for item in clothingitems %} 

  <li class="span3" >
    <div class="thumbnail" style="height:360px">
      <a href = {{item.link}}>
      <img data-src="holder.js/200x200" alt="260x180"  src={{item.photourl}}>
      </a>
      <h6>{{item.name}}</h6>
      <p>Price: $CAD{{item.price}}</p>
      <div class="btn-group">
  <button class="btn" onclick="return clothingPageDecrease()" >Recommend</button>
  </div>
    </div>
  </li>
  
{% endfor %}
</div>
</ul>
</div>
{% endif %}

<!--  render electronics if part of user preferences, or it is new user-->
{% if electronicitems != None %}
<div class= "span9" >
<ul class="thumbnails">
<div class = "span9">
<h3>Electronics</h3>
</div>
<div class= "span9">
<div class="btn-group ">
  <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
   {% if electronicssort == "pricelowtohigh"%}Price: Lowest to Highest
  {% elif electronicssort == "pricehightolow" %} Price: Highest to Lowest
    {%else %}Order By{%endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="javascript:sortElectronics('pricehightolow')">Price: Highest to Lowest</a></li>
    <li><a href="javascript:sortElectronics('pricelowtohigh')">Price: Lowest to Highest</a></li>
  </ul>
  </div>
<input type = "hidden" id = "currentpagenoelectronics" name = "currentpagenoelectronics" value = {% if electronicspage == None %}0{%else%}{{electronicspage}}{%endif%} />
<input type = "hidden" id = "currentelectronicssort" name = "currentelectronicssort" value = "{% if electronicssort == None %}{%else%}{{electronicssort}}{% endif %}"/>
<div class="btn-group"  style="float:right;">
  <button class="btn" onclick="return electronicsPageDecrease()" ><< Previous</button>
  <button class="btn" onclick= "return electronicsPageIncrease()">Next >></button>
</div></div>
<div class= "span9" style= "height:10px"></div>

{% for item in electronicitems %} 

  <li class="span3" >
    <div class="thumbnail" style="height:250px">
    <img data-src="holder.js/200x200" alt="260x180" class = "thumbnailimage" src="{{ MEDIA_URL }}{{item.mainimage.image}}" 
    onclick = "redirectToItem('electronics',{{item.id}})">
      <h5><a href = "/items/single?itemtype=electronics&id={{item.id}}">{{item.name}}</a></h5>
      <h4>${{item.price}}</h4>
    </div>
  </li>
  
{% endfor %}

</ul>
</div>
{% endif %}

</form>


{% endblock base_content %}