{% extends "base.html" %}
{%block base_content %}
<div class = "span12">
			<div class="hero-unit">
              <h1 style = "text-align:center">Welcome to Sellidify!</h1>
            </div>       
</div>

<div class = "span12">
</div>
{%endblock base_content %}