{%extends "base.html"%}
{% block base_content %}
<div class= "span12" style= "text-align:center">
	<h2>Request Refund</h2>
</div>
<div class= "span5" style = "float:left; margin-top:10px">
	<h4>Seller</h4>
	<a href="/users/{{purchase.sellinguser.id}}">{{purchase.sellinguser.first_name}} {{purchase.sellinguser.last_name}}</a>
	<h4>Item </h4>
	{{purchase.itemname}}
	
</div>
<div class= "span5" style = "float:right;margin-top:10px">
	<h4>Date Purchased</h4>
	{{purchase.datecreated}}
	<h4>Price</h4>
	${{purchase.totalprice}}
</div>

<div class="span12" style="margin-top:20px">
	<form class = "form-horizontal" id= "createrefundform" method = "post" enctype="multipart/form-data">
	{% csrf_token %}
	<h4>Reason for Refund</h4>
	
	 <select  id="reason" name = "reason">
      <option value = "Faulty">Faulty</option>
      <option value = "Fake">Fake</option>
      <option value = "Not As Advertised">Not As Advertised</option>
      <option value = "Other">Other</option>
      </select>
      
      	<h4>Additional Comments</h4>
	<textarea id = 'comments' name = "comments" rows="4" style="width:400px"></textarea>
	<div class="span12" style="margin-top:20px">
		<input type="submit" value = "Submit Refund"></input>
	</div>
	</form>
</div>
	
	

	
{% endblock base_content %}