{%extends "base.html"%}
{% block base_content %}

<div class= "span12" {% if successmessage %}{%else%}style = "display:none"{%endif%}>
	<div class="alert alert-success">
	              <button type="button" class="close" data-dismiss="alert">×</button>
	              <strong>Your Refund Request has been Submitted</strong> 
	</div>
</div>
<div class= "span12" style= "text-align:center">
	<h2>Request Refund</h2>
</div>
<div class= "span5" style = "float:left; margin-top:10px">
	<h4>Seller</h4>
	<a href="/users/{{purchase.sellinguser.id}}">{{purchase.sellinguser.first_name}} {{purchase.sellinguser.last_name}}</a>
	<h4>Item </h4>
	{{purchase.itemname}}
	<h4>Price</h4>
	${{purchase.totalprice}}
	
</div>
<div class= "span5" style = "float:right;margin-top:10px">
	<h4>Date Purchased</h4>
	{{purchase.datecreated}}
	<h4>Date Refund Requested</h4>
	{{refund.datecreated}}
	<h4>Refund Status</h4>
	{% if refund.accepted == "Accepted" %}
		<span style="color:green">Refund Accepted</span>
	{%elif refund.accepted == "Pending"%}
		<span style="color:blue"> Refund Pending</span>
	{%else%}
		<span style="red">Refund Declined</span>
	{%endif%}
	

</div>

<div class="span12" style="margin-top:20px">

	
	<h4>Reason for Refund</h4>
	<span style ="color:red">{{refund.reason}}</span>      
      	<h4>Additional Comments</h4>
	{{refund.comments}}

</div>
{% if sellinguserinfo == None %}
{%else%}
<div class= "span12">
	<h3 style="text-align:center">Return Shipping Address</h3>
	<h4>Address</h4>
	{{sellinguserinfo.address}}
	<h4>City</h4>
	{{sellinguserinfo.city}}
	<h4>Province</h4>
	{{sellinguserinfo.provincestate}}
	<h4>Country</h4>
	{{sellinguserinfo.country}}
	<h4>Postal Code</h4>
	{{sellinguserinfo.postalcode}}
</div>
{%endif%}
<div class= "span12" style="text-align:center">
	{% if purchase.sellinguser == user and refund.accepted == "Pending"%}
		<button class= "btn btn-success acceptrefundbutton" style="height:50px">Accept Refund</button>
		<button class= "btn btn-danger rejectrefundbutton" style="height:50px">Decline Refund</button>
	{%else%}
		<button class= "btn btn-primary returntopurchasesbutton" style="height:50px">Return to Purchases</button>
	{%endif%}
</div>
<form class = "form-horizontal" id= "refundaccepted" method = "post" enctype="multipart/form-data">
{% csrf_token %}
	<input type=  hidden id = acceptrefund name = acceptrefund>
</form>
	

	
{% endblock base_content %}