{% extends "base.html" %}

{% block base_content %}
<div class = "span9" >
<h1 style= "text-align:center"> Clothing</h1>
</div>
<div class ="span9" style= "height:10px"></div>

<form id= "homeform" name= "homeform" class = 'homeform'  action = "" method = "post" >
{% csrf_token %}
<div class= "span9">
<div class="btn-group ">
  <button class="btn dropdown-toggle" data-toggle="dropdown" >
  {% if clothingsort == "pricelowtohigh"%}Price: Lowest to Highest
  {% elif clothingsort == "pricehightolow" %} Price: Highest to Lowest
    {%else %}Order By{%endif %}
    <span class="caret"></span>
     </button>
    <ul class="dropdown-menu">
    <li><a href="javascript:sortClothing('pricehightolow')">Price: Highest to Lowest</a></li>
    <li><a href="javascript:sortClothing('pricelowtohigh')">Price: Lowest to Highest</a></li>
  </ul>
 </div>
 
 <div class="btn-group ">
  <button class="btn dropdown-toggle" data-toggle="dropdown" >
  {% if clothinggender == "Men"%}Men
  {% elif clothinggender == "Women" %} Women
    {%else %}Both{%endif %}
    <span class="caret"></span>
     </button>
    <ul class="dropdown-menu">
    <li><a href="javascript:sortClothingGender('Women')">Women</a></li>
    <li><a href="javascript:sortClothingGender('Men')">Men</a></li>
    <li><a href="javascript:sortClothingGender('Both')">Both</a></li>
  </ul>
 </div>
<input type = "hidden" id = "currentpagenoclothing" name = "currentpagenoclothing" value = {% if clothingpage == None %}0{%else%}{{clothingpage}}{%endif%} />
<input type = "hidden" id = "currentclothingsort" name = "currentclothingsort" value = "{% if clothingsort == None %}{%else%}{{clothingsort}}{% endif %}"/>
<input type = "hidden" id = "clothinggender" name = "clothinggender" value = {{clothinggender}} />
<div class="btn-group"  style="float:right;">
<button class="btn" onclick="return clothingPageDecrease()" ><< Previous</button>
<button class="btn" onclick= "return clothingPageIncrease()">Next >></button>
</div></div>
<div class ="span9" style= "height:30px"></div>
<div class="span9">
<ul class="thumbnails">
{% for item in clothingitems %}
{% if forloop.counter0|divisibleby:"4"%}<div class="row-fluid">{% endif %}
 <li class="span3" >
    <div class="thumbnail" style="height:360px;">
      <a href = {{item.link}}>
      <img data-src="holder.js/200x200" alt="260x180"  src={{item.photourl}}>
      </a>
      <h6>{{item.name}}</h6>
      <p>Old Price: $CAD{{item.priceprevious}}</p>
      <p>Price: $CAD{{item.price}}</p>
    </div>
  </li>
  {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
  {% endfor %}
</ul>
</div>
<div class= "span9">

<div class="btn-group"  style="float:right;">
<button class="btn" onclick="return clothingPageDecrease()" ><< Previous</button>
<button class="btn" onclick= "return clothingPageIncrease()">Next >></button>
</div></div>
</div>
</form>
{% endblock base_content %}