{% extends "baseselling.html" %}
{%block baseselling_content %}

  
<div class="control-group">
<label class="control-label" for="newused">New/Used:</label>
 <div class="controls">
      <select  id="newused" name = "newused">
      <option value = "New">New</option>
      <option value = "Used">Used</option>
      </select>
    </div>
  </div>
  
 <div class="control-group">
<label class="control-label" for="gender">Gender:</label>
 <div class="controls">
      <select  id="gender" name = "gender">
      <option value = "Womens">Womens</option>
      <option value = "Mens">Mens</option>
      <option value = "Both">Both</option>
      </select>
    </div>
  </div>
  
 
  
  <div class="control-group">
<label class="control-label" for="category">Category:</label>
 <div class="controls">
      <select  id="category" name = "category">
      <option value = "Clothing">Clothing</option>
      <option value = "Accessories">Accessories</option>
      <option value = "Jewelry">Jewelry</option>
      <option value = "Shoes">Shoes</option>
      <option value = "Bags">Bags</option>
      <option value = "Other">Other</option>
      </select>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="designer">Designer:</label>
 <div class="controls">
 <input type="text" id="designer" name = "designer" required/>
    </div>
  </div>
  
    <div class="control-group">
<label class="control-label" for="designer">Size:</label>
 <div class="controls">
 <select  id="size" name = "size">
      <option value = "XXS">XXS</option>
      <option value = "XS">XS</option>
      <option value = "S">S</option>
      <option value = "M">M</option>
      <option value = "L">L</option>
      <option value = "XL">XL</option>
      <option value = "XXL">XXL</option>
      </select>
    </div>
  </div>
  

  
  
  
  
{% endblock baseselling_content %}
