
<input type="hidden" id = "favoritedid">
<input type="hidden" id = "favoriteditemtype">

{% if electronicitems.count == 0 and clothingitems.count == 0 %}
<div class = "span12" id="norecommendeditems" >
	<h4>You have no recommended items</h4>
	</div>
	{%endif%}
	
{%if electronicitems.count != 0 %}
<div class = "span12">
<h3>Electronics</h3></div>

<div class="span12">
<ul class="thumbnails">
{% for item in electronicitems %}
 {% if forloop.counter0|divisibleby:"4"%}<div class="row-fluid" style ="margin-top:10px">{% endif %}
 <li class="span3" >
    <div class="thumbnail" style="height:420px;">
    <div class = "thumbnailimagecontainer" id = "{{item.itemtype}}{{item.id}}"> 
    <div class="socialmedia" id ="socialmedia{{item.itemtype}}{{item.id}}"></div>
         <div class="socialmedialogoholder" id="socialmedialogoholder{{item.itemtype}}{{item.id}}">
	    	<a class="facebook" href="#" onclick ="window.open(
		      'https://www.facebook.com/dialog/feed?app_id=458358780877780&link=http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}&redirect_uri=https://mighty-lowlands-6381.herokuapp.com/', 
		      'facebook-share-dialog', 
		      'width=626,height=436'); return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}photos/facebooklogo.jpg>
	    	</a>
			<a class ="twitter" href="https://twitter.com/share?text=Look at this amazing deal! http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
	     		<img class="twitterlogo" src={{STATIC_URL}}photos/twitterlogo.png>
	    	</a>
    	</div>
    <div class="thumbnailimageholder" id = "{{item.id}}">
    <a href="/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
      <img class = "thumbnailimage" id = {{item.id}} data-src="holder.js/200x200" alt="260x180"  src="{{MEDIA_URL}}{{item.mainimage.image}}" >
      </a>
		</div>
		</div>
			<div class= "thumbnailtitle"><h4 ><a href = "/items/single?itemtype={{item.itemtype}}&id={{item.id}}">&nbsp;{{item.name}}</a></h4></div>
	
      
      <hr>
      <div class="thumbnailprice">
      <h4 >&nbsp;${{item.price}}</h4>
      </div>
	            <div class= "favorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
		<h6 class = "notfavoritedtext" id = "{{item.itemtype}}{{item.id}}value">{{item.recommend}}</h6>
      </div>
      <div class="shippingthumbnail">
      <h6 style="color:#555555">&nbsp;Shipping: ${{item.shipping}}</h6>
      </div>
    <div style="width:200px;float:left">
      <h6>&nbsp;{{item.category}} | {{item.newused}}</h6>
      </div>
       <div class="addtocartthumbnail">
         {% if item.postedby == user %}
      {%else%}
	      {% if item in usercart.electronicitems.all %}
	      	<button class="btn btn-danger removefromcartelectronics"  name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Remove From Cart</button>
	      {%else%}
	      	<button class="btn btn-primary addtocartelectronics"  name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Add to Cart</button>
	      {%endif%}
      </div>
      {%endif%}
    </div>
  </li>
 {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
  {% endfor %}
</ul>
{% endif %}
</div>

<!-- Get clothing -->
{%if clothingitems.count != 0 %}
<div class = "span12">

<h3>Clothing</h3></div>

<div class="span12">
<ul class="thumbnails">
{% for item in clothingitems %}
 {% if forloop.counter0|divisibleby:"4"%}<div class="row-fluid" style ="margin-top:10px">{% endif %}
 <li class="span3" >
    <div class="thumbnail" style="height:420px;">
     <div class = "thumbnailimagecontainer" id ="{{item.itemtype}}{{item.id}}"> 
    <div class="socialmedia" id ="socialmedia{{item.itemtype}}{{item.id}}"></div>
         <div class="socialmedialogoholder" id="socialmedialogoholder{{item.itemtype}}{{item.id}}">
	    	<a class="facebook" href="#" onclick ="window.open(
		      'https://www.facebook.com/dialog/feed?app_id=458358780877780&link=http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}&redirect_uri=https://mighty-lowlands-6381.herokuapp.com/', 
		      'facebook-share-dialog', 
		      'width=626,height=436'); return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}photos/facebooklogo.jpg>
	    	</a>
			<a class ="twitter" href="https://twitter.com/share?text=Look at this amazing deal! http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
	     		<img class="twitterlogo" src={{STATIC_URL}}photos/twitterlogo.png>
	    	</a>
    	</div>
    <div class="thumbnailimageholder">
    <a href="/items/single?itemtype=clothing&id={{item.id}}">
      <img class = "thumbnailimage" data-src="holder.js/200x200" alt="260x180"  src="{{MEDIA_URL}}{{item.mainimage.image}}" >
      </a>
		</div>
		</div>
			<div class= "thumbnailtitle"><h4 ><a href = "/items/single?itemtype={{item.itemtype}}&id={{item.id}}">&nbsp;{{item.name}}</a></h4></div>
	
      
      <hr>
      <div class="thumbnailprice">
      <h4 >&nbsp;${{item.price}}</h4>
      </div>
	            <div class= "favorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">

		<h6 class = "notfavoritedtext" id = "{{item.itemtype}}{{item.id}}value">{{item.recommend}}</h6>
      </div>
      <div class="shippingthumbnail">
      <h6 style="color:#555555">&nbsp;Shipping: ${{item.shipping}}</h6>
      </div>
    <div style="width:200px;float:left">
      <h6>&nbsp;{{item.designer}} | size {{item.size}}</h6>
      </div>
      {% if item.postedby == user %}
      {%else%}
	       <div class="addtocartthumbnail">
	      {% if item in usercart.clothingitems.all %}
	      	<button class="btn btn-danger removefromcartclothing"  id = "cart{{item.itemtype}}{{item.id}}">Remove From Cart</button>
	      {%else%}
	      	<button class="btn btn-primary addtocartclothing" name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Add to Cart</button>
      {%endif%}
	
      </div>
      {%endif%}
    </div>
  </li>
 {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
  {% endfor %}
</ul>
{% endif %}