{% extends "base.html" %}

{% block base_content %}
<div class = "span9" >
<h1 style= "text-align:center"> Electronics</h1>
</div>
<div class ="span9" style= "height:10px"></div>

<form id= "electronicsform" name= "electronicsform" class = 'electronicsform'  action = "" method = "post" >
{% csrf_token %}
<div class= "span9">
<input type = "hidden" id = "currentpagenoelectronics" name = "currentpagenoelectronics" value = {% if electronicspage == None %}0{%else%}{{electronicspage}}{%endif%} />
<div class="btn-group"  style="float:right;">
<button class="btn" onclick="return electronicsPageDecrease()" ><< Previous</button>
<button class="btn" onclick= "return electronicsPageIncrease()">Next >></button>
</div></div>
<div class ="span9" style= "height:30px"></div>
<div class="span9">
<ul class="thumbnails">
{% for item in electronicitems %}
{% if forloop.counter0|divisibleby:"4"%}<div class="row-fluid">{% endif %}
 <li class="span3" >
    <div class="thumbnail" style="height:360px;">
      <a href = {{item.link}}>
      <img data-src="holder.js/200x200" alt="260x180"  src={{item.photourl}}>
      </a>
      <h6>{{item.name}}</h6>
      <p>Old Price: $CAD{{item.priceprevious}}</p>
      <p>Price: $CAD{{item.price}}</p>
    </div>
  </li>
  {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
  {% endfor %}
</ul>
</div>
<div class= "span9">

<div class="btn-group"  style="float:right;">
<button class="btn" onclick="return electronicsPageDecrease()" ><< Previous</button>
<button class="btn" onclick= "return electronicsPageIncrease()">Next >></button>
</div></div>
</div>
</form>
{% endblock base_content %}