{% extends "baseediting.html" %}
{%block baseediting_content %}

  
<div class="control-group">
<label class="control-label" for="newused">New/Used:</label>
 <div class="controls">
      <select  id="newused" name = "newused">
      <option value = "New">New</option>
      <option value = "Used">Used</option>
      </select>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="category">Category:</label>
 <div class="controls">
      <select  id="category" name = "category">
      <option value = "Computer">Computers</option>
      <option value = "Laptop">Laptops</option>
      <option value = "Parts">Computer Parts</option>
      <option value = "Cellphone">Cell Phones</option>
      <option value = "Camera">Camera</option>
      <option value = "TV">TVs</option>
      <option value = "Speakers">Speakers</option>
      <option value = "Tablet">Tablet</option>
      <option value = "GPS">GPS</option>
      <option value = "Cables">Cables</option>
      <option value = "Home Theatre">Home Theater Components</option>
      <option value = "Headphones">Headphones</option>
      <option value = "Other">Other</option>
      </select>
    </div>
  </div>
{% endblock baseediting_content %}

{% block uploadpicture %}
<button class = "btn btn-primary" onclick= "return editPictures({{item.id}},'electronics')">Edit Pictures</button>
{%endblock uploadpicture %}