{% extends "baseselling.html" %}
{%block baseselling_content %}

  
<div class="control-group">
<label class="control-label" for="newused">New/Used:</label>
 <div class="controls">
      <select  id="newused" name = "newused">
      <option value = "New">New</option>
      <option value = "Used">Used</option>
      </select>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="category">Category:</label>
 <div class="controls">
      <select  id="category" name = "category">
      <option value = "Cables">Cables</option>
      <option value = "Cameras">Cameras</option>
      <option value = "Cellphone">Cell Phones</option>
      <option value = "Computer">Computers</option>
      <option value = "Computer Parts">Computer Parts</option>
      <option value = "GPS">GPS</option>
     <option value = "Headphones">Headphones</option>
      <option value = "Home Theatre Components">Home Theater Components</option>
      <option value = "Laptops">Laptops</option>
      <option value = "Speakers">Speakers</option>
      <option value = "Tablet">Tablet</option>
      <option value = "Other">Other</option>
      </select>
    </div>
  </div>
{% endblock baseselling_content %}
