{% extends "base.html" %}
{% block base_content %}
<div class="alert alert-success span12" style = "display:none" id = "successmessage">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Your message has been successfully sent</strong>
            </div>
 {% if successmessage%}
 <div class="alert alert-success span12"  id = "successmessage">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>You have marked this order as shipped </strong>
            </div>
            {%endif%}

<!-- send message div that appears if clicked(uses ajax to send) -->
<div class="sendmessage" id = "sendmessage" >
	<form class = "form-horizontal">
		<h4 style = "text-align:center">Send a Message</h4>
		{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="price" style="float:left">Subject:</label>
				 <div class="controls">
				   <input type="text" id="subject" name = "subject" placeholder="Add a Subject">
				    </div>
				  </div>
				
				<div class="control-group">
				<label class="control-label" for="message" style="float:left">Message:</label>
				 <div class="controls">
				      <textarea rows="4" name = "message" id = "message"></textarea>
				    </div>
				    </div>
				    <div class="control-group">
				 <div class="controls">
				      <button class= "btn btn-primary" {% if user == order.buyinguser %} 
				      onclick="sendMessage({{order.sellinguser.id}},'{{order.sellinguser.first_name}}','{{order.sellinguser.last_name}}');return false;">
				      {%else%}
				       onclick="sendMessage({{order.buyinguser.id}},'{{order.buyinguser.first_name}}','{{order.buyinguser.last_name}}');return false;">
				      {%endif%}
				      Send</button> 
				      <button class= "btn btn-danger" onclick="cancelMessage();return false;">Cancel</button>
				  </div>
			  </div>
	</form>
</div>


<!-- mark order as shipped and attach shipping url -->
<div class="markasshipped" id = "markasshipped" >
	<form class = "form-horizontal" id = "markasshippedform" name = "markasshippedform" method = "post" enctype="multipart/form-data">
	<input type= "hidden" name = "ordernumber" value ="{{order.id}}">
		<h4 style = "text-align:center">Mark Order as Shipped</h4>
		{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="trackingurl" style="float:left">Tracking URL:</label>
				 <div class="controls">
				   <input type="text" id="trackingurl" name = "trackingurl" placeholder="Add Tracking URL">
				    </div>
				  </div>
				
				 <div class="controls">
				      <button class= "btn btn-primary" id ="{{order.id}}"> Mark As Shipped</button> 
				      <button class= "btn btn-danger cancelship">Cancel</button>
				  </div>
			 	</form>

</div>

<div class= "span12" style= "text-align:center"><h2>Order Summary</h2></div>
{%if user == order.sellinguser and order.shipped != true %}
	<div class="span12" style="margin-top:10px;text-align:center">
	{% if order.shipped %}
	<button class = "btn btn-warning markasshipped" style= "width:200px;">Edit Tracking Information
	{%else%}
	<button class = "btn btn-danger markasshipped" style= "width:200px;">Mark as Shipped
	{%endif%}
	</button></div>
{%endif%}
<div class = "span5" style= "float:left">
	{% if user == offer.buyinguser%}<h4>Seller</h4>
	<a href="/users/{{order.buyinguser.id}}">{{order.sellinguser.first_name}} {{order.sellinguser.last_name}}</a>
	{%else%}
	<h4>Buyer</h4>
	<a href="/users/{{order.sellinguser.id}}">{{order.buyinguser.first_name}} {{order.buyinguser.last_name}}</a>
	{%endif%}
	<button style="margin-left:30px"class= "btn btn-success" onclick="messageUser()">Message User</button>
	<h4>Item</h4>
	{{order.itemname}}
	<h4>Price</h4>
	${{order.totalprice}}
	<h4>Date Bought</h4>
	{{order.datecreated}}
	<h4>Shipping Status</h4>
	{%if order.ispickup == true%} 
	Pickup
	{%endif%}
	{%if order.shipped %}
	Order is Being Shipped
	<h4>Tracking URL</h4>
	{% if shippingurl == None%}
	No shipping information was provided. You could request it by messaging the seller
	{%else%}
	{{order.shippingurl}}
	{%endif%}
	<h4>Date Shipped</h4>
	{{order.dateshipped}}
	{%else%}
	<span style= "color:red">Seller has not shipped package</span>
	{%endif%}
</div>
{%if order.ispickup %} 
asdf
{%else%}
<div class= "span5" style= "float:right">
	<h3 style="text-align:center">Shipping Information</h3>
	<h4>Address</h4>
	{{order.address}}
	<h4>City</h4>
	{{order.city}}
	<h4>Province/State</h4>
	{{order.province}}
	<h4>Postal Code/Zip Code</h4>
	{{order.postalcode}}
</div>
	{%endif%}
<div class= "span12" style= "text-align:center;margin-top:40px">
	<a href="/myaccount/mystore#ordersbuy"><button class = "btn btn-primary" style= "width:200px;height:50px"><h4>Return to Orders</h4></button></a>
</div>


{%endblock base_content %}