{%extends "base.html"%}
 {%block add_script %}
 
 $(document).ready(function() {
	if (document.getElementById("currentsort").value != ""){
		
		document.getElementById("orderby").value  = document.getElementById("currentsort").value;
		
	}
	if (document.getElementById("currentcategory").value != ""){
		document.getElementById("category").value = document.getElementById("currentcategory").value;
	}
	if (document.getElementById("currentcondition").value != ""){
		document.getElementById("condition").value = document.getElementById("currentcondition").value;
	}
	if (document.getElementById("currentsize").value != ""){
		document.getElementById("size").value = document.getElementById("currentsize").value;
	}
	if (document.getElementById("currentgender").value != ""){
		document.getElementById("gender").value = document.getElementById("currentgender").value;
	}
	if (document.getElementById("currentdesigner").value != ""){
	document.getElementById("designer").value = document.getElementById("currentdesigner").value;
	}
	
});
 
 {%endblock add_script %}

{%block base_content %}
<div class= "span12"><h1 style="text-align:center">Clothing</h1></div>
<input type="hidden" id = "favoritedid">
<input type="hidden" id = "favoriteditemtype">
<div class = "span12" style="margin-top:40px">
	
	<form id= "homeform" name= "homeform" method ="post" enctype="multipart/form-data" action = "">
	<input type="hidden" id ="currentsort" name = "currentsort" value = {{currentsort}} >
	<input type="hidden" id ="currentpageno" name = "currentpageno" value = {{currentpageno}} >
	<input type="hidden" id ="currentcategory" name = "currentcategory" value = {{currentcategory}}  >
	<input type="hidden" id ="currentcondition" name = "currentcondition" value = {{currentcondition}} >
	<input type="hidden" id ="currentsize" name = "currentsize" value = {{currentsize}} >
	<input type="hidden" id ="currentgender" name = "currentgender" value = {{currentgender}} >
	{% csrf_token %}
		<div class= "span3">
		  <h4>Order By</h4>
			<select  id = "orderby" name = "clothingorderby">
			      <option >-----</option>
			<option value = "pricehightolow">Price: Highest to Lowest</option>
			<option value = "pricelowtohigh">Price: Lowest to Highest</option>
			<option value = "mostrecommended">Most Recommended</option>
			</select>
		</div>
		
		<div class= "span3">
		  <h4>Category</h4>
			<select id = "category" name = "clothingcategory">
			   <option >All</option>
		      <option value = "Clothing">Clothing</option>
		      <option value = "Accessories">Accessories</option>
		      <option value = "Jewelry">Jewelry</option>
		      <option value = "Shoes">Shoes</option>
		      <option value = "Bags">Bags</option>
		      <option value = "Other">Other</option>
			</select>
		</div>
		
		<div class= "span3">
		  <h4>Condition</h4>
			<select  id = "condition" name="clothingcondition">
			      <option >All</option>
				<option value = "New">New</option>
			     <option value = "Used">Used</option>
			</select>
		</div>
		<div class= "span3">
		  <h4>Gender</h4>
			<select  id = "gender" name="clothinggender">
			    <option >All</option>
				<option value = "Womens">Womens</option>
				<option value = "Mens">Mens</option>
			     <option value = "Both">Both</option>
			</select>
		</div>
		<div class= "span3">
		  <h4>Size</h4>
			<select  id="size" name = "clothingsize">
			      <option >All</option>
			      <option value = "XXS">XXS</option>
			      <option value = "XS">XS</option>
			      <option value = "S">S</option>
			      <option value = "M">M</option>
			      <option value = "L">L</option>
			      <option value = "XL">XL</option>
			      <option value = "XXL">XXL</option>
			 </select>
		</div>
		<div class= "span3">
		  <h4>Designer</h4>
			<input type="text" id = "designer" name = "designer" value ={{currentdesigner}}>
		</div>
	</form>
		<div class= "span12">
			<a href="/items/clothing"><button class = "btn btn-primary">Remove Filters </button></a>
		</div>	

</div>
{% if clothingitems.paginator.count != 0 %}
	<div class="span12" style="margin-top:40px"> 
		<div class="btn-group" style= "float:right">
		<button class="btn" id = "previouspage"><< Back</button>
		<button class="btn"  id = "nextpage">Next >></button>
		</div>
	</div>
{%endif%}
<div class= "span12"   id = "itemslist">
{% if clothingitems.paginator.count == 0 %}
<h2 style="text-align:center">There are no items!</h2>
{%else%}
	<ul class="thumbnails">
	{% for item in clothingitems %}
 {% if forloop.counter0|divisibleby:"4"%}<div class="row-fluid" style ="margin-top:10px">{% endif %}
 <li class="span3" >
    <div class="thumbnail" style="height:420px;">
    <div class="thumbnailimagecontainer"  id ="{{item.itemtype}}{{item.id}}" >
    	 <div class="socialmedia" id ="socialmedia{{item.itemtype}}{{item.id}}"></div>
         <div class="socialmedialogoholder" id="socialmedialogoholder{{item.itemtype}}{{item.id}}">
	    	<a class="facebook" href="#" onclick ="window.open(
		      'https://www.facebook.com/dialog/feed?app_id=458358780877780&link=http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}&redirect_uri=https://mighty-lowlands-6381.herokuapp.com/', 
		      'facebook-share-dialog', 
		      'width=626,height=436'); return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}photos/facebooklogo.jpg>
	    	</a>
			<a class ="twitter" href="https://twitter.com/share?text=Look at this amazing deal! http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
	     		<img class="twitterlogo" src={{STATIC_URL}}photos/twitterlogo.png>
	    	</a>
    	</div>
    <div class="thumbnailimageholder" id = "{{item.id}}">
    <a href="/items/single?itemtype=clothing&id={{item.id}}">
      <img class = "thumbnailimage" id = {{item.id}} data-src="holder.js/200x200" alt="260x180" src="{{MEDIA_URL}}{{item.mainimage.image}}" >
      </a>
		</div>
		</div>
			<div class= "thumbnailtitle"><h4 ><a href = "/items/single?itemtype={{item.itemtype}}&id={{item.id}}">&nbsp;{{item.name}}</a></h4></div>
	
      
      <hr>
      <div class="thumbnailprice">
      <h4 >&nbsp;${{item.price}}</h4>
      </div>
      {%if user == item.postedby %}
      <div class= "userrecommends">
	  {%else%}
	      {% if user in item.recommendedby.all%}
	            <div class= "favorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
	            
	      {%else%}
	            <div class= "notfavorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
	      {%endif%}
	   {%endif%}

		<h6 class = "notfavoritedtext" id = "{{item.itemtype}}{{item.id}}value">{{item.recommend}}</h6>
      </div>
      <div class="shippingthumbnail">
      <h6 style="color:#555555">&nbsp;Shipping: ${{item.shipping}}</h6>
      </div>
    <div style="width:200px;float:left">
      <h6>&nbsp;{{item.designer}} | size {{item.size}}</h6>
      </div>
       <div class="addtocartthumbnail">
      {% if item in usercart.electronicitems.all %}
      	<button class="btn btn-danger removefromcartclothing"  name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Remove From Cart</button>
      {%else%}
      	<button class="btn btn-primary addtocartclothing"  name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Add to Cart</button>
      {%endif%}
		
      </div>
    </div>
  </li>
 {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
  {% endfor %}
  {%endif%}
</ul>
</div>
{% if electronicitems.paginator.count != 0 %}
	<div class="span12" style="margin-top:40px"> 
		<div class="btn-group" style= "float:right">
		<button class="btn" id = "previouspage"><< Back</button>
		<button class="btn"  id = "nextpage">Next >></button>
		</div>
	</div>
{%endif%}
	

{% endblock base_content %}