{%extends "base.html"%}
 {%block add_script %}
 
 $(document).ready(function() {
	if (document.getElementById("currentsort").value != ""){
		
		document.getElementById("orderby").value  = document.getElementById("currentsort").value;
		
	}
	if (document.getElementById("currentcategory").value != ""){
		document.getElementById("category").value = document.getElementById("currentcategory").value;
	}
	if (document.getElementById("currentcondition").value != ""){
		document.getElementById("condition").value = document.getElementById("currentcondition").value;
	}
});
 
 {%endblock add_script %}

{%block base_content %}
<div class= "span12"><h1 style="text-align:center">Electronics</h1></div>
<input type="hidden" id = "favoritedid">
<input type="hidden" id = "favoriteditemtype">
<div class = "span12" style="margin-top:40px">
	
	<form id= "homeform" name= "homeform" method ="post" enctype="multipart/form-data" action = "">
	<input type="hidden" id ="currentsort" name = "currentsort" value = {{currentsort}} >
	<input type="hidden" id ="currentpageno" name = "currentpageno" value = {{currentpageno}} >
	<input type="hidden" id ="currentcategory" name = "currentcategory" value = {{currentcategory}}  >
	<input type="hidden" id ="currentcondition" name = "currentcondition" value = {{currentcondition}} >
	{% csrf_token %}
		<div class= "span3">
		  <h4>Order By</h4>
			<select multiple="multiple" id = "orderby" name = "electronicsorderby">
			<option value = "pricehightolow">Price: Highest to Lowest</option>
			<option value = "pricelowtohigh">Price: Lowest to Highest</option>
			<option value = "mostrecommended">Most Recommended</option>
			</select>
		</div>
		
		<div class= "span3">
		  <h4>Category</h4>
			<select multiple="multiple" id = "category" name = "electronicscategory">
				<option value = "Cables">Cables</option>
			     <option value = "Cameras">Cameras</option>
			     <option value = "Cellphone">Cell Phones</option>
			     <option value = "Computer">Computers</option>
			     <option value = "Computer Parts">Computer Parts</option>
			     <option value = "GPS">GPS</option>
			     <option value = "Headphones">Headphones</option>
			      <option value = "Home Theatre Components">Home Theater Components</option>
			      <option value = "Laptops">Laptops</option>
			      <option value = "Speakers">Speakers</option>
			      <option value = "Tablet">Tablet</option>
			      <option value = "Other">Other</option>
			</select>
		</div>
		
		<div class= "span3">
		  <h4>Condition</h4>
			<select multiple="multiple" id = "condition" name="electronicscategory">
				<option value = "New">New</option>
			     <option value = "Used">Used</option>

			</select>
		</div>
	</form>
		<div class= "span12">
			<a href="/items/electronics"><button class = "btn btn-primary">Remove Filters </button></a>
		</div>	

</div>
{% if electronicitems.paginator.count != 0 %}
	<div class="span12" style="margin-top:40px"> 
		<div class="btn-group" style= "float:right">
		<button class="btn" id = "previouspage"><< Back</button>
		<button class="btn"  id = "nextpage">Next >></button>
		</div>
	</div>
{%endif%}
<div class= "span12"   id = "itemslist">
{% if electronicitems.paginator.count == 0 %}
<h2 style="text-align:center">There are no items!</h2>
{%else%}
	<ul class="thumbnails">
	{% for item in electronicitems %}
 {% if forloop.counter0|divisibleby:"4"%}<div class="row-fluid" style ="margin-top:10px">{% endif %}
 <li class="span3" >
    <div class="thumbnail" style="height:420px;">
    <div class="thumbnailimagecontainer"  id ={{item.id}} >
     <div class="socialmedia" id ="socialmedia{{item.id}}"></div>
        <div class="socialmedialogoholder" id="socialmedialogoholder{{item.id}}">
	    <a class="facebook" href="#" onclick ="window.open(
		      'https://www.facebook.com/dialog/feed?app_id=458358780877780&link=http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}&redirect_uri=https://mighty-lowlands-6381.herokuapp.com/', 
		      'facebook-share-dialog', 
		      'width=626,height=436'); return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}photos/facebooklogo.jpg>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Look at this amazing deal! http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}photos/twitterlogo.png>
	    </a>
    </div>
    
    <div class="thumbnailimageholder" id ={{item.id}}>
     
    <a href="/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
      <img class = "thumbnailimage" data-src="holder.js/200x200" alt="260x180"  src="{{MEDIA_URL}}{{item.mainimage.image}}">
      </a>
		</div>
		</div>
			<div class= "thumbnailtitle"><h4 ><a href = "/items/single?itemtype={{item.itemtype}}&id={{item.id}}">&nbsp;{{item.name}}</a></h4></div>
	
      
      <hr>
      <div class="thumbnailprice">
      <h4 >&nbsp;${{item.price}}</h4>
      </div>
      {%if user == item.postedby %}
      <div class= "userrecommends">
	  {%else%}
	      {% if user in item.recommendedby.all%}
	            <div class= "favorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
	            
	      {%else%}
	            <div class= "notfavorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
	      {%endif%}
	   {%endif%}

		<h6 class = "notfavoritedtext" id = "{{item.itemtype}}{{item.id}}value">{{item.recommend}}</h6>
      </div>
      <div class="shippingthumbnail">
      <h6 style="color:#555555">&nbsp;Shipping: ${{item.shipping}}</h6>
      </div>
    <div style="width:200px;float:left">
      <h6>&nbsp;{{item.category}} | {{item.newused}}</h6>
      </div>
       <div class="addtocartthumbnail">
      {% if item in usercart.electronicitems.all %}
      	<button class="btn btn-danger removefromcartelectronics"  name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Remove From Cart</button>
      {%else%}
      	<button class="btn btn-primary addtocartelectronics" name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Add to Cart</button>
      {%endif%}
		
      </div>
    </div>
  </li>
 {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
  {% endfor %}
  {%endif%}
</ul>
</div>
{% if electronicitems.paginator.count != 0 %}
	<div class="span12" style="margin-top:40px"> 
		<div class="btn-group" style= "float:right">
		<button class="btn" id = "previouspage"><< Back</button>
		<button class="btn"  id = "nextpage">Next >></button>
		</div>
	</div>
{%endif%}
	

{% endblock base_content %}