{% extends "base.html" %}
{% block base_content %}
<!--  make offer div that will appear -->
<div class="makeoffer" id = "makeoffer" >
<form class = "form-horizontal" id= "makeofferform" method = "post" enctype="multipart/form-data">
<input type = "hidden" id= "ismakeoffer" name ="ismakeoffer" >
<h4 style = "text-align:center">Make an Offer</h4>
{% csrf_token %}
<div class="control-group">
<label class="control-label" for="price" style="float:left">Price:</label>
 <div class="controls">
      <input type="text" id="price" name = "price" placeholder="ex 9.99" required pattern = "^\d+(.\d{1,2})?"/>
    </div>
  </div>
<div class="control-group">
<label class="control-label" for="shippingprice" style="float:left">Shipping Price:</label>
 <div class="controls">
      <input type="text" id="shippingprice" name = "shippingprice" placeholder="ex 9.99" required pattern = "^\d+(.\d{1,2})?"/>
      <input type="checkbox" id="pickup" name = "pickup"> Pick Up </input>
    </div>
    </div>

<div class="control-group">
<label class="control-label" for="offercomment" style="float:left">Comments:</label>
 <div class="controls">
      <textarea rows="3" name = "offercomment"></textarea>
    </div>
    </div>
    <div class="control-group">
 <div class="controls">
      <button class= "btn btn-primary" onclick="confirmMakeOffer();">Make Offer</button>
      <button class= "btn btn-danger" onclick="cancelMakeOffer();return false;">Cancel</button>
  </div>
  </div>
  
  </form>
</div>
{% if  errormessage != "" %}
<h4 style = "color:red">{{errormessage}}</h4>
{%endif %}
{% if  message != "" %}
<h4 style = "color:blue">{{message}}</h4>
{%endif %}
<div class = "row-fluid">
<div class = "span6" style= "height:60px;">
<h4>Seller:</h4>
<h4><a href="/users/{{item.postedby.user.id}}"><img class="sellerimg"  src = "{{MEDIA_URL}}{{userinfo.profilepicture}}"></a> <a href="/users/{{postedby.id}}">{{postedby.first_name}} {{postedby.last_name}}</a>

{%if user.username == postedby.username %}
<button class="btn btn-info" onclick= "return editListing({{item.id}},'{{itemtype}}')" >Edit Your Listing</button>
{%endif%}
</div></h4>

<div class = "span6" style= "float:right; height:60px;">
<div class= "displayedlittle">
<div class= "row-fluid">
<ul class="thumbnails">
{%for itemimage in itemimages %}
<li>
<a  class= "thumbnails" onclick="changeImageThumbnail({{forloop.counter}})">
{% if itemimage.mainitem %}
<img  id = "thumbnailimage{{forloop.counter}}" class= "smallimageselected" data-src="holder.js/200x200" alt="180x180" src="{{ MEDIA_URL }}{{itemimage.image}}">
{%else %}
<img  id = "thumbnailimage{{forloop.counter}}" class= "smallimage" data-src="holder.js/200x200" alt="180x180" src="{{ MEDIA_URL }}{{itemimage.image}}">
{%endif%}
</a>
</li>
{%endfor%}
</ul>
</div>
</div>
</div>
</div>

<div class="row fluid">

<div class = "span6" style="margin-top:30px">

<div class ="span6">
<div class= "span6" >
<h4 style="color: #336699">{{item.name}}</h4></div>

{%if user != item.postedby and user.is_authenticated %}
<form  id= "addtocart" name= "addtocart" method = "post" enctype="multipart/form-data">
{% csrf_token %}
<input type = "hidden" id= "actiontype" name = "actiontype">
{% if itemincart == None %}
<button class= "btn btn-primary" onclick="addToCartSingle();">Add To Cart</button>
{% else %}
<button class="btn btn-danger"  onclick="removeFromCartSingle();">Remove From Cart</button>
{%endif %}
<button class= "btn btn-success" onclick="makeOffer();return false;">Make Offer</button>
</form>
{%endif %}
</div>



<div class = "span6">
<h2>${{item.price}}</h2>
<h5>Shipping Price:</h5><h5>{%if item.shipping == 0 %}Free Shipping{%else%}${{item.shipping}}{%endif%}</h5>
</div>


<div class= "span2">
<div > 
<h5>  New/Used</h5>
</div>
<div >
<h4>{{item.newused}}</h4>
</div>
</div>

<div class= "span2">
<div > 
<h5>Category</h5>
</div>
<div >
<h4>{{item.category}}</h4>
</div>
</div>
<!-- If itemtype is clothing -->
{% if itemtype == "clothing" %}
	<div class= "span2">
	<div > 
	<h5>Size</h5>
	</div>
	<div >
	<h4>{{item.size}}</h4>
	</div>
	</div>
	<div class= "span2">
	<div > 
	<h5>Designer</h5>
	</div>
	<div >
	<h4>{{item.designer}}</h4>
	</div>
	</div>
	
	<div class= "span2">
	<div > 
	<h5>Gender</h5>
	</div>
	<div >
	<h4>{{item.gender}}</h4>
	</div>
	</div>

{%endif%}

<div class= "span6" style= "float:left">
<h4> Additional Information</h4>
<div>
<p>{{item.description}}</p>
</div>
</div>

</div>

<div class = "span6" style="float:right;vertical-align:middle;margin-top:10px"">
{%if itemimages.count != 0 %}
{%for bigpicture in itemimages %}
{% if bigpicture.mainitem %}
<a href = "#"  >
 <img id = "displayedimage{{forloop.counter}}" class ="displayedpicture" data-src="holder.js/200x200" alt="180x180"  src="{{ MEDIA_URL }}{{mainimage.image}}">
</a>
{% else %}
<a href = "#"  >
<img id = "displayedimage{{forloop.counter}}" class ="hiddenpicture" data-src="holder.js/200x200" alt="180x180"  src="{{ MEDIA_URL }}{{bigpicture.image}}">
</a>
{%endif %}
{%endfor%}
{%else%}
<a href = "#"  >
 <img id = "displayedimage" class ="displayedpicture" data-src="holder.js/200x200" alt="180x180"  src="{{ MEDIA_URL }}{{item.mainimage.image}}">
</a>
{%endif%}
</div>

</div>

<div class= "row-fluid">
<form class = "form-horizontal" id= "postcomment" name= "postcomment" method = "post" enctype="multipart/form-data" style="margin-top:10px">
{% csrf_token %}
<div class= "span6">
<h4>Comments</h4>
{%if user.is_authenticated%} 
<textarea id = "comment" name = "comment" style= "width:100%"  rows="3"></textarea>
<input type = "submit" name = "postcomment" value="Post Comment" ></input>
{%else %}
<h6>You must <a href="/myaccount/login">login</a> to post a comment</h6>
 {%endif%}
 <table class="table table-striped">
              <thead>
                <tr>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody>
          {%if comments.count == 0 %}
          <tr>
          <td>
          There are no comments
          </td>
          </tr>
          {%endif %}
{% for comment in comments %}
                <tr>
                  <td>
                  <h4><a href="/users/{{comment.postedby.id}}">{{comment.postedby.first_name}} {{comment.postedby.last_name }}</a></h4>
                  
                  {{comment.comment}}
                  <h6>{{comment.datetimeposted}}</h6></td>
                </tr>
{% endfor %}
              </tbody>
            </table>
</div>
</form>

<div class= "span4" style = "float:right">
<form class = "form-horizontal" id= "canceloffer" name= "canceloffer" method = "post" enctype="multipart/form-data" style="margin-top:10px"> 
{% csrf_token %}
<input type = "hidden" name = "cancelofferid" id = "cancelofferid">
<input type = "hidden" name = "addcartid" id = "addcartid">
<input type = "hidden" name = "removecartid" id= "removecartid">
<h4>My Offers</h4>
<table class="table table-striped">
              <thead>
                <tr>
                  <th>Offers</th>
                </tr>
              </thead>
              <tbody>
          {% if offers.count == 0 %}
          <tr>
          <td>
          You have made no offers. If you would like to make an offer, click the make offer button
          </td>
          </tr>
          {% endif %}
			{% for offer in offers %}
                <tr>
                  <td>
				  <h6>{{offer.datetimeposted}}</h6> 
				  			{%if offer.accepted%}
				  <h5 style= "color:green">Offer Accepted</h5>
				  {% elif offer.rejected %}
				   <h5 style= "color:red">Offer Rejected</h5>
				  {% else %}
				 <h5 style= "color:blue">Offer Pending</h5>
				  {%endif%}
                  <h4 style= "color:blue">${{offer.totalprice}}</h4> 
                  <h6>Price: ${{offer.price}}</h6> 
                  {% if offer.pickup %}
                  <h6 style= "color:blue">PickUp</h6>
                  {% else %}
                  <h6>Shipping Price: ${{offer.shippingprice}}</h6> 
                  {% endif %}
				  {% if offer.accepted %}
				   {% if itemincart == None %}
					<button class= "btn btn-primary" onclick="addToCart();">Add To Cart</button>
					{% else %}
					<button class="btn btn-danger"  onclick="removeFromCart();">Remove From Cart</button>
					{%endif %}
				  {% elif offer.rejected == True %}
				  <button class= "btn btn-success" onclick="makeOffer();return false;">Make New Offer</button>
				  {% else %}
				  <button class= "btn btn-danger" onclick="cancelOffer({{offer.id}})">Cancel Offer</button>
				  {%endif%}

                  </td>	
                </tr>
			{% endfor %}
              </tbody>
            </table>
</form>
</div>
</div>

{%endblock base_content %}