{% extends "base.html" %}
{% block base_content %}
<h1> You must <a href ="/myaccount/login">login</a> to sell an item. If you don't have an account please create one <a href ="/myaccount/signup">here</a></h1>
{%endblock base_content %}