{% extends "base.html" %}
{% block base_content %}
<div class= "span5">
<table class="table table-striped">
              <thead>
                <tr>
                  <th>Following</th>
                </tr>
              </thead>
              <tbody>
              {% if following.count == 0 %}
               <tr>
                <td>
                <h4>{{userinfo.user.first_name}} {{userinfo.user.last_name}} is not following anyone</h4>
                </td>
                </tr>
              {%else%}
              {% for item in following %}
                <tr>
                <td>
                <img style="max-height:60px;float:left" src = "{{MEDIA_URL}}{{item.following.profilepicture}}">
				<a href="/Users/{{item.following.id}}"><h4> &nbsp;&nbsp;{{item.following.user.first_name}} {{item.following.user.last_name}}</h4></a>
				<h5> &nbsp;&nbsp;{{item.following.city}} | {{item.following.country}}</h5>
				</td>
                </tr>
				{%endfor%}
				{%endif %}
              </tbody>
            </table>
</div>

<div class= "span5">
<table class="table table-striped">
              <thead>
                <tr>
                  <th>Followers</th>
                </tr>
              </thead>
              <tbody>
              {% if followers.count == 0 %}
               <tr>
                <td>
                <h4>{{userinfo.user.first_name}} {{userinfo.user.last_name}} has no followers</h4>
                </td>
                </tr>
              {%else%}
    		{% for item in followers %}
                <tr>
                <td>
                <img style="max-height:60px;float:left" src = "{{MEDIA_URL}}{{item.user.profilepicture}}">
				<a href="/Users/{{item.user.id}}"><h4> &nbsp;&nbsp;{{item.user.user.first_name}} {{item.user.user.last_name}}</h4></a>
				<h5> &nbsp;&nbsp;{{item.user.city}} | {{item.user.country}}</h5>
				</td>
                </tr>
				{%endfor%}
				{%endif %}
              </tbody>
            </table>
</div>
{% endblock base_content %}