{% extends "base.html" %}
{% block base_content %}

<form class = "form-horizontal" id= "loginform" method = "post" enctype="multipart/form-data" style="margin-top:10px">
<h5 style = "color:red">{{errormessage}}</h5>
{% csrf_token %}
<div class="control-group">
<label class="control-label" for="username" style="float:left">Email:</label>
 <div class="controls">
      <input type="text" id="username" name = "username" placeholder="Username" required>
    </div>
  </div>
  
<div class="control-group">
<label class="control-label" for="password">Password:</label>
 <div class="controls">
      <input type="password" id="password" name = "password" placeholder="Password" required>
    </div>
  </div>
  <div class= "control-group">
  <div class="controls">
<input type = "submit" value = "Login"/>
</div>
</div>
</form>
{% endblock base_content %}