{% extends "base.html" %}
{%block add_script %}


	


{%endblock add_script %}
{% block base_content %}

<!-- div used to show sent messages -->
<div class="sentmessage" id = "sentmessage"  >
	<table class = "table">
	<thead>
                <tr>
				<th> Message </th>
                </tr>
              </thead>
	<tbody>
	<tr><td>To:<a id="tosent"></a></td><tr>
	<tr><td>Subject:<span id = "subjectsent"></span></td><tr>
	<tr><td><div id = "messagesent" style="height:100px;overflow:auto"></div></td><tr>
	</tbody>
	</table>

<form class = "form-horizontal">
<div class="control-group">
 	<div class="controls">
 		<input type="hidden" id ="replyuserid">
 		<input type="hidden" id ="replymessageid">
      <button class= "btn btn-danger" onclick="closeSentMessage();return false;">Cancel</button>
    </div>
</div>
</form>
</div>


<!--  div used to reply  -->
<div class="replymessage" id = "replymessage"  >
	<table class = "table">
	<thead>
                <tr>
				<th> Reply </th>
                </tr>
              </thead>
	<tbody>
	<tr><td>From:<a id="fromreply"></a></td><tr>
	<tr><td>Subject:<span id = "subjectreply"></span></td><tr>
	<tr><td><div id = "messagereply" style="height:60px;overflow:auto"></div></td><tr>
	</tbody>
	</table>

<div class="control-group">
 	<div class="controls">
      <textarea style = "width:85%;margin-left:25px"rows="5" name = "replytext" id = "replytext"></textarea>
    </div>
</div>
<form class = "form-horizontal">
<div class="control-group">
 	<div class="controls">
 		<input type="hidden" id ="replyuserid">
 		<input type="hidden" id ="replymessageid">
        <button class= "btn btn-primary" onclick="replyToUser();">Reply</button>
      <button class= "btn btn-danger" onclick="cancelReply();return false;">Cancel</button>
    </div>
</div>
</form>
</div>

<!--  div used to make offer -->
<div class="makeoffer" id = "makeoffer" >
<form class = "form-horizontal" id= "makeofferform" method = "post" enctype="multipart/form-data">
<input type = "hidden" id= "makeofferid" name ="makeofferid" >
<input type = "hidden" id= "makeofferitemtype" name ="makeofferitemtype" >
<input type = "hidden" id= "ismakeoffer" name ="ismakeoffer" >
<h4 style = "text-align:center">Make an Offer</h4>
{% csrf_token %}
<div class="control-group">
<label class="control-label" for="price" style="float:left">Price:</label>
 <div class="controls">
      <input type="text" id="price" name = "price" placeholder="ex 9.99" required pattern = "^\d+(.\d{1,2})?"/>
    </div>
  </div>
<div class="control-group">
<label class="control-label" for="shippingprice" style="float:left">Shipping Price:</label>
 <div class="controls">
      <input type="text" id="shippingprice" name = "shippingprice" placeholder="ex 9.99" required pattern = "^\d+(.\d{1,2})?"/>
      <input type="checkbox" id="pickup" name = "pickup"> Pick Up </input>
    </div>
    </div>

<div class="control-group">
<label class="control-label" for="offercomment" style="float:left">Comments:</label>
 <div class="controls">
      <textarea rows="3" name = "offercomment"></textarea>
    </div>
    </div>
    <div class="control-group">
 <div class="controls">
      <button class= "btn btn-primary" onclick="confirmMakeOffer();">Make Offer</button>
      <button class= "btn btn-danger" onclick="cancelMakeOffer();return false;">Cancel</button>
  </div>
  </div>
  
  </form>
</div>



<div class= "row-fluid">
	<div class= "span12">
		<div class= "span3" >
			<img class ="img-polaroid" src="{{MEDIA_URL}}{{userinfo.profilepicture}}" style="max-width:270px;max-height:300px"></img>
		</div>
		<div class ="span7">
			<h1 style= "text-align:center"><a href="">{{user.first_name}} {{user.last_name}}</a></h1>
			<h4 style= "text-align:center">{{userinfo.city}}, {{userinfo.provincestate}}</h4>
			<h4 style= "text-align:center"><a href="/users/{{user.id}}/following">{{followers}} Followers </a>| <a href="/users/{{user.id}}/following">{{following}} Following</a></h4>
			<h4 style = "text-align:center">{{userinfo.rating}}% Positive Feedback | <a href = "/users/{{user.id}}/reviews">{%if comments == None %}0{%else%}{{comments.count}}{%endif%} comments</a> </h4>
			<h4 style= "text-align:center">{{userinfo.itemssold}} Items Sold</h4>
			<h5 style= "text-align:center">{% if userinfo.description == None %}{%else%}{{userinfo.description}}{%endif%}</h5>
				<div style= "margin-left:auto;margin-right:auto;width:55%">
					<a href="/myaccount/profile"><button class="btn btn-success" onclick="">Edit Profile Information</button></a>
					<a href="/users/{{user.id}}"><button class="btn btn-primary" onclick="">View Store</button></a>
				</div>
			</div>
	</div>
	<div class = "span12" style="margin-top:30px">
		<ul class="nav nav-tabs">
		  <li id = "offersclick" ><a href="#offers">Offers</a></li>
		  <li id = "ordersclick"><a href="#ordersbuy">Orders</a></li>
		  <li id = "salesclick"><a href="#sales">Sales</a></li>
		  <li id = "purchasesclick"><a href="#purchases">Purchases</a></li>
		  <li id = "recommendedclick"><a href="#recommended">Recommended</a></li>
		  <li id = "messagesclick"><a href="#messagesinbox">Messages</a></li>
		  <li id = "followingclick"><a href="#following">Following</a></li>
		</ul>
	</div>
</div>

<!-- Div to show items sold by user -->
<div id="noitemssold" class= "span12" style="display:none">
<h3 style = "text-align:center"> You have sold no items</h3>
</div>

<div id= "itemssold" class= "span12" style="display:none">
<h3 style="text-align:center">Items Sold</h3>
<table class="table table-striped" style = "margin-top:10px" id = "itemssoldtable">
              <thead>
                <tr>
                  <th>Item Name</th>
                  <th>Item Type</th>
                  <th>Price</th>
                  <th>Shipping Price </th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
</div>











<!--  Div used to show offers -->
<div id = "offers" class="span12" style = "display:none">
	
	<div class = "span3" >
	<h3 >Offers Sent</h3>
	</div>
	<div class= "row-fluid">
	<form class = "form-horizontal" id= "canceloffer" name= "canceloffer" method = "post" enctype="multipart/form-data" style="margin-top:10px"> 
	{% csrf_token %}
	<input type = "hidden" name = "cancelofferid" id = "cancelofferid">
	{% if offerssent.count != 0 %}
		<div class= "span12">
		<table class="table table-striped">
 		<thead>
                <tr>
                <th>To</th>
                  <th>Item Name</th>
                  <th>Price</th>
                  <th>Shipping Price </th>
                  <th>Total Price </th>
                  <th>Status</th>
                  <th>Comments</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
			{% for offer in offerssent %}
                <tr>
                <td> <h4><a href = "/users/{{offer.touser.id}}">{{offer.touser.first_name}} {{offer.touser.last_name}}</a></h4></td>
                  <td> <h4><a href = "/items/single?itemtype={{offer.itemtype}}&id={{offer.itemid}}">{{offer.listingname}}</a></h4></td>
                  <td> <h4>${{offer.price}}</h4></td>
                  <td>{% if offer.pickup %}
                  <h4 style= "color:blue"]>Pickup</h4>
                  {% else %}
                  <h4> ${{offer.shippingprice}}</h4>
                  {% endif %}
                  </td>
				  <td><h4 style = "color:red"">${{offer.totalprice}}</h4></td> 
				  <td>{%if offer.accepted%}
				  <h5 style= "color:green">Offer Accepted</h5>
				  {% elif offer.rejected %}
				   <h5 style= "color:red">Offer Rejected</h5>
				  {% else %}
				 <h5 style= "color:blue">Offer Pending</h5>
				  {%endif%}</td>
                  
                  <td><h6>{{offer.comment}}</h6> </td>
                  <td>
                   {% if offer.rejected %}
				  <button class= "btn btn-success" onclick="makeOfferStore({{offer.itemid}},'{{offer.itemtype}}');return false;">Make New Offer</button>
				 {% elif offer.accepted%}
                   <h4><a href = "/items/single?itemtype={{offer.itemtype}}&id={{offer.itemid}}">View Item</a></h4>
                   {% else %}
				   <button class= "btn btn-danger" onclick="cancelOffer({{offer.id}})">Cancel Offer </button>
				  {%endif%}
                  </td>	
                </tr>
                <!--  add quick edit table row -->
			{% endfor %}
              </tbody>
            </table>
        </div>
            {%else%}
		<div class="span12">
		<h5 >You have no offers</h5>
		{% endif %}
		</form>
</div>

<div class = "span3">
<h3>Offers Received</h3>
</div>
<div class= "row-fluid">
	<form class = "form-horizontal" id= "acceptrejectoffer" name= "acceptrejectoffer" method = "post" enctype="multipart/form-data" style="margin-top:10px"> 
	{% csrf_token %}
	<input type = "hidden" name = "acceptrejectaction" id = "acceptrejectaction">
	<input type = "hidden" name = "acceptrejectid" id = "acceptrejectid">

	{% if offersreceived.count != 0 %}
		<div class= "span12">
			<table class="table table-striped">
 			<thead>
                <tr>
                 <th>From</th>
                  <th>Item Name</th>
                  <th>Price</th>
                  <th>Shipping Price </th>
                  <th>Total Price </th>
                  <th>Status</th>
                  <th>Comments</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
          

        
			{% for offer in offersreceived %}
                <tr>
                <td> <h4><a href = "/users/{{offer.fromuser.id}}">{{offer.fromuser.first_name}} {{offer.fromuser.last_name}}</a></h4></td>
                  <td> <h4><a href = "/items/single?itemtype={{offer.itemtype}}&id={{offer.itemid}}">{{offer.listingname}}</a></h4></td>
                  <td> <h4>${{offer.price}}</h4></td>
                   <td>{% if offer.pickup %}
                  <h4 style= "color:blue"]>Pickup</h4>
                  {% else %}
                  <h4> ${{offer.shippingprice}}</h4>
                  {% endif %}
                  </td>
				  <td><h4 style = "color:red"">${{offer.totalprice}}</h4></td> 
				  <td>{%if offer.accepted%}
				  <h5 style= "color:green">Offer Accepted</h5>
				  {% elif offer.rejected %}
				   <h5 style= "color:red">Offer Rejected</h5>
				  {% else %}
				 <h5 style= "color:blue">Offer Pending</h5>
				  {%endif%}</td>
                  
                  <td><h6>{{offer.comment}}</h6> </td>
                  <td>
                  {% if offer.rejected %}
				  
                   {% elif offer.accepted%}
                   <h4><a href = "/items/single?itemtype={{offer.itemtype}}&id={{offer.itemid}}">View Item</a></h4>
                   {% else %}
                   <button class= "btn btn-success" onclick="acceptOffer({{offer.id}})">Accept </button>
				   <button class= "btn btn-danger" onclick="rejectOffer({{offer.id}})">Reject </button>
				  {%endif%}
                  </td>	
                </tr>
			{% endfor %}
              </tbody>
            </table>
       </div>
		{%else%}
		<div class="span9">
			<h5 > You have no offers</h5>
		{% endif %}
		</div>
</form>
</div>


<!-- div to show Orders -->
<div id = "orders" class= "span12" style= "display:none">
	<h3 style = "text-align:center">Orders</h3>
	<div class= "navbar">
	<div class="navbar-inner">
	                <ul class="nav">
	                  <li id= "buyorderstab"><a href="#ordersbuy">Buy Orders</a></li>
	                  <li id = "sellorderstab"><a href="#orderssell">Sell Orders</a></li>
	                </ul>
	              </div>
	</div>
	<div class = "span12" id="noorders" style = "display:none">
	<h4>You have no Orders</h4>
	</div>
		<div  class = "span12" id = "ordersbuy" style = "display:none" >
		<table class="table" id = "buyordertable">
		              <thead>
		                <tr>
		                  <th>Seller</th>
		                  <th>Item</th>
		                  <th>Price</th>
		                  <th>Shipping</th>
		                  <th></th>
	
		                </tr>
		              </thead>
		              <tbody>
		              <tr>
		              </tr>
		              </tbody>
		            </table>
	<div class = "span12" id= "nobuyorder" style="display:none">
	<h4>You have not bought anything!</h4>
	</div>
	
	</div>
	
		<div  class = "span12" id = "orderssell" style = "display:none">
		<table class="table" id = "sellordertable" >
		              <thead>
		                <tr>
		                  <th>Buyer</th>
		                  <th>Item</th>
		                  <th>Price</th>
		                  <th>Shipping</th>
		                  <th></th>
		                </tr>
		              </thead>
		              <tbody>
		              <tr>
		              </tr>
		              </tbody>
		            </table>
	
	
				<div class = "span12" id= "nosellorder" style="display:none">
					<h4>You have no sell orders</h4>
				</div>
		</div>
</div>


<!-- div to show sales -->

<div id = "sales" class= "span12" style= "display:none">
<h3 style = "text-align:center">Items Sold</h3>
	<div class = "span12" id="nosales" style = "display:none">
	<h4>You have no sales! Go list an item!</h4>
	</div>
	<div class="span12">
		<table class="table " id = "salestable" style="display:none;">
			              <thead>
			                <tr>
			                  <th>Date Sold</th>
			                  <th>Purchaser</th>
			                  <th>Item</th>
			                  <th>Price</th>
			                  <th>Refund</th>
			                </tr>
			              </thead>
			              <tbody>
			              <tr>
			              </tr>
			              </tbody>
			            </table>
	</div>
</div>







<!-- div to show purchases -->

<div id = "purchases" class= "span12" style= "display:none">
<h3 style = "text-align:center">Purchased Items</h3>
	<div class = "span12" id="nopurchases" style = "display:none">
	<h4>You have no purchases! Go and shop!</h4>
	</div>

	<table class="table" id = "purchasestable" style="display:none">
		              <thead>
		                <tr>
		                  <th>Date Purchased</th>
		                  <th>Seller</th>
		                  <th>Item</th>
		                  <th>Price</th>
		                  <th></th>
		                </tr>
		              </thead>
		              <tbody>
		              <tr>
		              </tr>
		              </tbody>
		            </table>

</div>









<!-- div to show recommended items -->
<div id = "recommended" class= "span12" style= "display:none">
	<h3 style = "text-align:center">Recommended Items</h3>
	<div  id = "recommendeditems">
	</div>
</div>


<!-- div used to show messages -->
<div id = "messages" class="span12" style= "display:none">

<div class= "navbar">
	<div class="navbar-inner">
	                <ul class="nav">
	                  <li id= "messagesinboxtab"><a href="#messagesinbox">Inbox</a></li>
	                  <li id = "messagessenttab"><a href="#messagessent">Sent Messages</a></li>
	                </ul>
	              </div>
	</div>
	<div class="alert alert-success span12" style = "display:none" id = "successmessage">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Your message has been successfully sent</strong>
            </div>
	<div  class = "span12" id = "messagesinbox" style="display:none" >
		<table class="table" id = "messagesinboxtable">
		              <thead>
		                <tr>
		                  <th>From</th>
		                  <th>Subject</th>
		                  <th>Message</th>
		                  <th>Date Sent</th>
	
		                </tr>
		              </thead>
		              <tbody>
		              <tr>
		              </tr>
		              </tbody>
		            </table>
	<div class = "span12" id= "noinboxmessages" style="display:none">
	<h4 ">You have no messages in your inbox</h4>
	</div>
	
	</div>
	
		<div  class = "span12" id = "messagessent" style="display:none" >
		<table class="table" id = "messagessenttable">
		              <thead>
		                <tr>
		                  <th>Sent To</th>
		                  <th>Subject</th>
		                  <th>Message</th>
		                  <th>Date Sent</th>

		                </tr>
		              </thead>
		              <tbody>
		              <tr>
		              </tr>
		              </tbody>
		            </table>
	
	
				<div class = "span12" id= "nosentmessages" style="display:none">
					<h4>You have no sent messages</h4>
				</div>
		</div>
</div>

{% endblock base_content %}
