{% extends "base.html" %}

{% block head_content %}
<script>
//set initial value for the dropdowns
$(document).ready(function() { 
	var countryval = document.getElementById('countryloaded').value
	var genderval = document.getElementById('genderloaded').value
	//set the dropdown values
	$('#country').val(countryval);
	$('#gender').val(genderval);
	
}); 
</script>
{%endblock head_content %}

{% block base_content %}

<div class = "control-group">
<div class="controls">
<h5 style = "color:red">{{errormessage}}</h5>
<h5 style = "color:blue">{{successmessage}}</h5>
</div>
</div>
<form class="form-horizontal" name = "pictureform" id = "pictureform"method = "post" enctype="multipart/form-data">
{% csrf_token %}
<div class="control-group">
 <div class="controls">
<img class ="img-polaroid" src="{{MEDIA_URL}}{{userinfo.profilepicture}}" style="max-width:270px;max-height:300px"></img>
    </div>
  </div>

<div class="control-group">
<label class="control-label" for="profilepicture" style="float:left">Change Profile Picture:</label>
 <div class="controls">
      <input type="file" id="files" name = "files">
    </div>
  </div>
 </form>
 <form class="form-horizontal" method = "post" enctype="multipart/form-data">
{% csrf_token %}
<div class="control-group">
<label class="control-label" for="username" style="float:left">Email:</label>
 <div class="controls">
      <input type="text" id="username" name = "username" value = {{user.username}} required disabled>
    </div>
  </div>

   <div class="control-group">
<label class="control-label" for="firstname">First Name:</label>
 <div class="controls">
      <input type="text" id="firstname" name = "firstname" value = {{user.first_name}} required>
    </div>
  </div>
  
   <div class="control-group">
<label class="control-label" for="lastname">Last Name:</label>
 <div class="controls">
      <input type="text" id="lastname" name = "lastname" value = {{user.last_name}} required>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="city">City:</label>
 <div class="controls">
      <input type="text" id="city" name = "city" value = "{{userinfo.city}}"  required>
    </div>
  </div>
      
      <div class="control-group">
<label class="control-label" for="city">Province:</label>
 <div class="controls">
      <input type="text" id="provincestate" name = "provincestate" value="{{userinfo.provincestate}}" required>
    </div>
  </div>
       
       <div class="control-group">
<label class="control-label" for="postalcode">Postal Code:</label>
 <div class="controls">
      <input type="text" id="postalcode" name = "postalcode" value="{{userinfo.postalcode}}" required>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="Country">Country:</label>
<input type = "hidden" id = "countryloaded" value = {{userinfo.country}} /> 
 <div class="controls">
      <select  id="country" name = "country" >
      <option value = "Canada">Canada</option>
      <option value = "USA">USA</option>
      </select>
    </div>
  </div>
  
    <div class="control-group">
<label class="control-label" for="gender">Gender:</label>
 <div class="controls">
 <input type = "hidden" id = "genderloaded" value = {{userinfo.gender}} /> 
      <select  id="gender" name = "gender" >
      <option value = "Female">Female</option>
      <option value = "Male">Male</option>
      <option value ="Other">Other</option>
      </select>
    </div>
  </div>
  

  <div class="control-group">
  <h4 style="width:160px;text-align:right">Interests</h4>
<label class="control-label" for="electronics">Electronics</label>
 <div class="controls">
      <input type="checkbox" id="electronics" name = "electronics"  {% if userinfo.electronics%}checked =  "checked"{% endif %} >
    </div>
  </div>
  
    <div class="control-group">
<label class="control-label" for="clothing">Clothing</label>
 <div class="controls">
      <input type="checkbox" id="clothing" name = "clothing" {% if userinfo.clothing %}checked = {{userinfo.clothing}} {% endif %}>
    </div>
  </div>
  
   <div class="control-group">

 <div class="controls">
      <input type="submit" value = "Save Changes" name = "submitchanges" id = "submitchanges"/>
    </div>
  </div>
  
</form>
{% endblock base_content %}