{% extends "base.html" %}
{% block base_content %}
<div class= "span5">
<table class="table table-striped">
              <thead>
                <tr>
                  <th>Reviews</th>
                </tr>
              </thead>
              <tbody>
              {% if reviews.count == 0 %}
               <tr>
                <td>
                <h4>There are no reviews! Be the first one to review this <a href = "/Users/{{tag}}">user</a>! </h4>
                </td>
                </tr>
              {%else%}
              {% for item in reviews %}
                <tr>
                <td>
                <a href="/Users/{{item.postedby.user.id}}"><img style="max-height:60px;float:left" src = "{{MEDIA_URL}}{{item.postedby.profilepicture}}"></a>
				<a href="/Users/{{item.postedby.user.id}}"><h4> &nbsp;&nbsp;{{item.postedby.user.first_name}} {{item.postedby.user.last_name}}</h4></a>
				{% if item.goodservice %}
				<h6> &nbsp;&nbsp;&nbsp;Great Service</h6>
				{%else%}
				<h6> &nbsp;&nbsp;&nbsp;Unsatisfactory Service</h6>
				{%endif%}
				<h5>Comments:</h5>
				<p> &nbsp;&nbsp;{{item.comment}}</p>
				</td>
                </tr>
				{%endfor%}
				{%endif %}
              </tbody>
            </table>
</div>
{% endblock base_content %}