{% extends "base.html" %}
{% block base_content %}


<center><h1>Create an Account</h1></center><br/>

<form class = "form-horizontal" id= "createaccountform" method = "post" enctype="multipart/form-data">
<h5 style = "color:red">{{errormessage}}</h5>
{% csrf_token %}
  

  <div class="control-group">
<label class="control-label" for="email">Email:</label>
 <div class="controls">
      <input type="text" id="email" name = "email" placeholder="Email" required pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="password">Password:</label>
    <div class="controls">
      <input type="password" id="password" name = 'password' placeholder="Password" required>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="confirmpassword">Confirm Password:</label>
 <div class="controls">
      <input type="password" id="confirmpassword" name = "confirmpassword" placeholder="Confirm Password" required>
    </div>
  </div>
  
   <div class="control-group">
<label class="control-label" for="firstname">First Name:</label>
 <div class="controls">
      <input type="text" id="firstname" name = "firstname" placeholder="First Name" required>
    </div>
  </div>
  
   <div class="control-group">
<label class="control-label" for="lastname">Last Name:</label>
 <div class="controls">
      <input type="text" id="lastname" name = "lastname" placeholder="Last Name" required>
    </div>
  </div>
  
  
  <div class="control-group">
<label class="control-label" for="address">Address:</label>
 <div class="controls">
      <input type="text" id="address" name = "address" placeholder="Enter Your Address" required>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="city">City:</label>
 <div class="controls">
      <input type="text" id="city" name = "city" placeholder="Enter Your City" required>
    </div>
  </div>
  
    <div class="control-group">
<label class="control-label" for="city">Province:</label>
 <div class="controls">
      <input type="text" id="provincestate" name = "provincestate" placeholder="Province" required>
    </div>
  </div>
     
     <div class="control-group">
<label class="control-label" for="postalcode">Postal Code:</label>
 <div class="controls">
      <input type="text" id="postalcode" name = "postalcode" placeholder="eg. V2R98P" required>
    </div>
  </div>
  
  <div class="control-group">
<label class="control-label" for="Country">Country:</label>
 <div class="controls">
      <select  id="country" name = "country">
      <option value = "Canada">Canada</option>
      <option value = "USA">USA</option>
      </select>
    </div>
  </div>
  
    <div class="control-group">
<label class="control-label" for="gender">Gender:</label>
 <div class="controls">
      <select  id="gender" name = "gender">
      <option value = "Female">Female</option>
      <option value = "Male">Male</option>
      <option value ="Other">Other</option>
      </select>
    </div>
  </div>
  


  <div class= "control-group">
  <div class="controls">
<input type = "submit" value = "Create an Account"/>
</div>
</div>
</form>
{% endblock base_content %}

<!--   -<div class= "signuplabels" id = "signuplabels">
<label> Username:</label><br/>
<label> Password: </label><br/>
<label> Confirm Password: </label><br/>
<label> Email: </label><br/>
<label> City: </label><br/>
<label> Country:</label><br/>
<label> Gender: </label><br/>
<label> BirthDate (YYYY-MM-DD):</label><br/>
<h1> Choose your interests </h1><br/>
<label>Electronics:</label><br/>
<label> Clothing<label><br/>
</div>
<form id= "createaccountform" method = "post" enctype="multipart/form-data">
<div class = "signupforms" id = "signupforms">
<input type="text" name = "username" id = "username" maxlength ="100"/><br/>
<input type="password" name = "password" id = "password" /><br/>
<input type="password" name = "confirmpassword" id = "confirmpassword" /><br/>
<input type = "text" name = "email" id = "email"><br/>
<input type= "text" name = "city" id = "city"/><br/>
<select name = "country" id = "country"/><br/>
<option value = "Canada"> Canada </option>
<option value= "United States">United States</option>
</select>
<select name = "gender" id = "gender"><br/>
<option value = "male">Male</option>
<option value = "female> Female</option>
<input type = "text" id="birthday" name = "birthday"/><br/>

</div>
</form>

</div>-->