{% extends "base.html" %}
{% block base_content %}
<input type="hidden" id = "favoritedid">
<input type="hidden" id = "favoriteditemtype">

<!--  div to show that message has been successfully sent -->
<div class="alert alert-success span12" style = "display:none" id = "successmessage">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Your message has been successfully sent</strong>
</div>

<!-- add review div that appears if clicked -->
<div class="addreview" id = "addreview" >
	<form class = "form-horizontal" id= "reviewform" method = "post" enctype="multipart/form-data">
		<input type = "hidden" id= "isreview" name ="isreview" >
		<h4 style = "text-align:center">Rate a Seller</h4>
		{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="price" style="float:left">Service:</label>
				 <div class="controls">
				  <select  id="service" name = "service">
				      <option value = "great">Great</option>
				      <option value = "unsatisfactory">Unsatisfactory</option>
				      </select>
				    </div>
				  </div>
				
				<div class="control-group">
				<label class="control-label" for="usercomment" style="float:left">Comments:</label>
				 <div class="controls">
				      <textarea rows="3" name = "usercomment"></textarea>
				    </div>
				    </div>
				    <div class="control-group">
				 <div class="controls">
				      <input type = "submit" name= "submitreview" id = "submitreview" value = "Submit Review">
				      <button class= "btn btn-danger" onclick="cancelReview();return false;">Cancel</button>
				  </div>
			  </div>
	  </form>
</div>


<!-- send message div that appears if clicked(uses ajax to send) -->
<div class="sendmessage" id = "sendmessage" >
	<form class = "form-horizontal">
		<h4 style = "text-align:center">Send a Message</h4>
		{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="price" style="float:left">Subject:</label>
				 <div class="controls">
				   <input type="text" id="subject" name = "subject" placeholder="Add a Subject">
				    </div>
				  </div>
				
				<div class="control-group">
				<label class="control-label" for="message" style="float:left">Message:</label>
				 <div class="controls">
				      <textarea rows="4" name = "message" id = "message"></textarea>
				    </div>
				    </div>
				    <div class="control-group">
				 <div class="controls">
				      <button class= "btn btn-primary" onclick="sendMessage({{userinfo.user.id}},'{{userinfo.user.first_name}}','{{userinfo.user.last_name}}');return false;">Send</button> 
				      <button class= "btn btn-danger" onclick="cancelMessage();return false;">Cancel</button>
				  </div>
			  </div>
	</form>
</div>

<div class= "row-fluid">
<h2 style="color:red">{{errormessage}}</h2>
<div class= "span12">
<div class= "span3" >
<img class ="img-polaroid" src="{{MEDIA_URL}}{{userinfo.profilepicture}}" style="max-width:270px;max-height:300px"></img>
</div>
<div class ="span7">
<h1 style= "text-align:center"><a href="">{{requesteduser.first_name}} {{requesteduser.last_name}}</a></h1>
<h4 style= "text-align:center">{{userinfo.city}}, {{userinfo.provincestate}}</h4>
<h4 style= "text-align:center"><a href="/users/{{userinfo.user.id}}/following">{{followers}} Followers </a>| <a href="/users/{{userinfo.user.id}}/following">{{following}} Following</a></h4>
<h4 style = "text-align:center">{{userinfo.rating}}% Positive Feedback  | <a href="/users/{{userinfo.user.id}}/reviews">{%if comments == None %}0{%else%}{{comments.count}}{%endif%} reviews</a> </h4>
<h4 style= "text-align:center">{{userinfo.itemssold}} Items Sold</h4>
<h5 style= "text-align:center">{% if userinfo.description == None %}{%else%}{{userinfo.description}}{%endif%}</h5>

{# check to see if user is visiting a page that isnt his/her. If it isnt and if the user is not being followed, output follow button, else output stop following#}
<form class = "form-horizontal" id= "followunfollowform" name= "followunfollowform" method = "post" enctype="multipart/form-data" style="margin-top:10px"> 
<input type = "hidden" id = "followunfollowaction" name = "followunfollowaction" >
{% csrf_token %}
{% if requesteduser != user  and user.is_authenticated%}
	{%if isfollowing == None %}
<div style= "margin-left:auto;margin-right:auto;width:50%">
<button class="btn btn-success" onclick="followUser()">Follow User</button>
<button class="btn btn-info" onclick="messageUser();return false;">Message</button>	
<button class="btn btn-primary" onclick="reviewUser();return false;">Review</button>	
	</div>
	{%else %}
	<div style= "margin-left:auto;margin-right:auto;width:54%">
<button class="btn btn-danger" onclick="unfollowUser()">Unfollow User</button>	
<button class="btn btn-info" onclick="messageUser();return false;">Message</button>	
<button class="btn btn-primary" onclick="reviewUser();return false;">Review</button>	
</div>
{%endif%}
</div>
{%endif%}
</form>

</div>

<!-- Menu to show selections -->
<div class = "span12" style="margin-top:30px">
		<ul class="nav nav-tabs">
		 <li id = "itemsforsaleclick"><a href="#itemsforsale">Items for Sale</a></li>
		 
		</ul>
	</div>

<div class = "span12">
<h3 style="text-align:center">Items for Sale</h3>
<hr>
</div>
{% if itemdata.electronicitems.count == 0 and itemdata.clothingitems.count == 0  %}
<div class = "span12">
<h5>{{userinfo.user.first_name}} {{userinfo.user.last_name}} has nothing for sale!</h5>
</div>
{%endif%}
{%if itemdata.electronicitems.count != 0 %}
<div class = "span12">
<h3>Electronics</h3></div>

<div class="span12">
<ul class="thumbnails">
{% for item in itemdata.electronicitems %}
 {% if forloop.counter0|divisibleby:"4"%}<div class="row-fluid" style ="margin-top:10px">{% endif %}
 <li class="span3" >
    <div class="thumbnail" style="height:420px;">
    <div class = "thumbnailimagecontainer" id = "{{item.itemtype}}{{item.id}}"> 
    <div class="socialmedia" id ="socialmedia{{item.itemtype}}{{item.id}}"></div>
         <div class="socialmedialogoholder" id="socialmedialogoholder{{item.itemtype}}{{item.id}}">
	    	<a class="facebook" href="#" onclick ="window.open(
		      'https://www.facebook.com/dialog/feed?app_id=458358780877780&link=http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}&redirect_uri=https://mighty-lowlands-6381.herokuapp.com/', 
		      'facebook-share-dialog', 
		      'width=626,height=436'); return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}photos/facebooklogo.jpg>
	    	</a>
			<a class ="twitter" href="https://twitter.com/share?text=Look at this amazing deal! http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
	     		<img class="twitterlogo" src={{STATIC_URL}}photos/twitterlogo.png>
	    	</a>
    	</div>
    <div class="thumbnailimageholder" id = "{{item.id}}">
    <a href="/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
      <img class = "thumbnailimage" id = {{item.id}} data-src="holder.js/200x200" alt="260x180"  src="{{MEDIA_URL}}{{item.mainimage.image}}" >
      </a>
		</div>
		</div>
			<div class= "thumbnailtitle"><h4 ><a href = "/items/single?itemtype={{item.itemtype}}&id={{item.id}}">&nbsp;{{item.name}}</a></h4></div>
	
      
      <hr>
      <div class="thumbnailprice">
      <h4 >&nbsp;${{item.price}}</h4>
      </div>
      {%if user == item.postedby %}
      <div class= "userrecommends">
	  {%else%}
	      {% if user in item.recommendedby.all%}
	            <div class= "favorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
	            
	      {%else%}
	            <div class= "notfavorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
	      {%endif%}
	   {%endif%}

		<h6 class = "notfavoritedtext" id = "{{item.itemtype}}{{item.id}}value">{{item.recommend}}</h6>
      </div>
      <div class="shippingthumbnail">
      <h6 style="color:#555555">&nbsp;Shipping: ${{item.shipping}}</h6>
      </div>
    <div style="width:200px;float:left">
      <h6>&nbsp;{{item.category}} | {{item.newused}}</h6>
      </div>
       <div class="addtocartthumbnail">
         {% if item.postedby == user %}
      {%else%}
	      {% if item in usercart.electronicitems.all %}
	      	<button class="btn btn-danger removefromcartelectronics" name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Remove From Cart</button>
	      {%else%}
	      	<button class="btn btn-primary addtocartelectronics" name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Add to Cart</button>
	      {%endif%}
      </div>
      {%endif%}
    </div>
  </li>
 {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
  {% endfor %}
</ul>
{% endif %}
</div>

<!-- Get clothing -->
{%if itemdata.clothingitems.count != 0 %}
<div class = "span12">

<h3>Clothing</h3></div>

<div class="span12">
<ul class="thumbnails">
{% for item in itemdata.clothingitems %}
 {% if forloop.counter0|divisibleby:"4"%}<div class="row-fluid" style ="margin-top:10px">{% endif %}
 <li class="span3" >
    <div class="thumbnail" style="height:420px;">
     <div class = "thumbnailimagecontainer" id ="{{item.itemtype}}{{item.id}}"> 
    <div class="socialmedia" id ="socialmedia{{item.itemtype}}{{item.id}}"></div>
         <div class="socialmedialogoholder" id="socialmedialogoholder{{item.itemtype}}{{item.id}}">
	    	<a class="facebook" href="#" onclick ="window.open(
		      'https://www.facebook.com/dialog/feed?app_id=458358780877780&link=http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}&redirect_uri=https://mighty-lowlands-6381.herokuapp.com/', 
		      'facebook-share-dialog', 
		      'width=626,height=436'); return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}photos/facebooklogo.jpg>
	    	</a>
			<a class ="twitter" href="https://twitter.com/share?text=Look at this amazing deal! http://www.sellidify.com/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
	     		<img class="twitterlogo" src={{STATIC_URL}}photos/twitterlogo.png>
	    	</a>
    	</div>
    <div class="thumbnailimageholder">
    <a href="/items/single?itemtype={{item.itemtype}}&id={{item.id}}">
      <img class = "thumbnailimage" data-src="holder.js/200x200" alt="260x180"  src="{{MEDIA_URL}}{{item.mainimage.image}}" >
      </a>
		</div>
		</div>
			<div class= "thumbnailtitle"><h4 ><a href = "/items/single?itemtype={{item.itemtype}}&id={{item.id}}">&nbsp;{{item.name}}</a></h4></div>
	
      
      <hr>
      <div class="thumbnailprice">
      <h4 >&nbsp;${{item.price}}</h4>
      </div>
      {%if user == item.postedby %}
      <div class= "userrecommends">
	  {%else%}
	      {% if user in item.recommendedby.all%}
	            <div class= "favorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
	      {%else%}
	            <div class= "notfavorited" id = "favorite{{item.itemtype}}{{item.id}}" onclick="favoriteItem({{item.id}},'{{item.itemtype}}')">
	      {%endif%}
	   {%endif%}

		<h6 class = "notfavoritedtext" id = "{{item.itemtype}}{{item.id}}value">{{item.recommend}}</h6>
      </div>
      <div class="shippingthumbnail">
      <h6 style="color:#555555">&nbsp;Shipping: ${{item.shipping}}</h6>
      </div>
    <div style="width:200px;float:left">
      <h6>&nbsp;{{item.designer}} | size {{item.size}}</h6>
      </div>
      {% if item.postedby == user %}
      {%else%}
	       <div class="addtocartthumbnail">
	      {% if item in usercart.clothingitems.all %}
	      	<button class="btn btn-danger removefromcartclothing"  name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Remove From Cart</button>
	      {%else%}
	      	<button class="btn btn-primary addtocartclothing"  name = "{{item.id}}" id = "cart{{item.itemtype}}{{item.id}}">Add to Cart</button>
      {%endif%}
	
      </div>
      {%endif%}
    </div>
  </li>
 {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
  {% endfor %}
</ul>
{% endif %}

</div>
{% endblock base_content %}
