{% extends "base.html" %}
{% block base_content %}
<h2 style="text-align:center"> Add Photos</h2>
<form class = "form-horizontal" id= "pictureform" method = "post" enctype="multipart/form-data" style="margin-top:10px">
<h5 style = "color:red">{{errormessage}}</h5>
{% csrf_token %}
<!--  inputs to show what picture to set as main or delete -->
<input type = "hidden" name = "actiontype" id = "actiontype" value ="" />
<input type= "hidden" name = "photoid" id = "photoid" value = "" />
<input type = "hidden" name = "securitycode" id  ="securitycode" value = "" />
<div class="control-group">
<div style = "width:100%;height:50px"></div>
<label class="control-label" for="username" style="float:left">Add Photos (max 4):</label>
 <div class="controls">
      <input type="file" id="files" name = "files" multiple>
      <input type = "submit" value = "Create New Listing" onclick="createNewListing()"/>
    </div>
  </div>
  <div class="row-fluid">
{% for item in pictureitems %}
<li class="span3" >
   
      <a href = "#">
      <img data-src="holder.js/200x200" alt="180x180" style="max-width:220px;"  align ="middle" src="{{ MEDIA_URL }}{{item.image}}">
      </a>
      <div class="btn-group">
  {% if item.mainitem  %}
  <button class="btn btn-primary" >Main Picture</button>
  {%else%}
  <button class="btn" onclick=" setAsMain({{item.id}},'{{item.securitycode}}')" >Set as Main Picture</button>
  {%endif%}
  <button class="btn btn-danger" onclick="return deletePhoto({{item.id}},'{{item.securitycode}}')" >Delete</button>

    </div>
  </li>
{% endfor %}
</div>

</div>
</div>
</form>
{% endblock base_content %}