{%extends "base.html" %}
{%block add_head%}
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>



{%endblock add_head%}

{% block base_content %}
<div class  = "span12"> <h3 style = "text-align:center">Place Order</h3></div>
<form  id= "paymentform" method = "post" enctype="multipart/form-data">


<div class= 'span6' style ="float:left">
{% if errormessage != None %}
	<div class= "alert alert-error">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>{{errormessage}}</strong> 
	</div>
{%endif%}
            
<h3 style = "color:red;text-align:middle"></h3>
{% csrf_token %}
<h3> Shipping Address</h3>

<label class="control-label" for="firstname" ><strong>First Name</strong></label>
 <div class="controls">
      <input type="text" id="firstname" name = "firstname" placeholder="First Name" required value ="{{user.first_name}}">
    </div>
  
 <label class="control-label" for="lastname"><strong>Last Name</strong></label>
 <div class="controls">
      <input type="text" id="lastname" name = "lastname" placeholder="Last Name" required value="{{user.last_name}}">
    </div>
    
 <label class="control-label" for="address"><strong>Street Address</strong></label>
 <div class="controls">
      <input type="text" style="width:300px" id="address" name = "address" placeholder="Street Address"  required >
    </div>
  
 <label class="control-label" for="address"><strong>City</strong></label>
 <div class="controls">
      <input type="text"  id="city" name = "city" placeholder="City" value = "{{userinfo.city}}" required >
    </div>
 
 <label class="control-label" for="province"><strong>Province</strong></label>
 <div class="controls">
      <input type="text"  id="province" name = "province" placeholder="Province" value = "{{userinfo.provincestate}}" required >
    </div>

 <label class="control-label" for="postalcode"><strong>Postal Code</strong></label>
 <div class="controls">
      <input type="text"  id="postalcode" name = "postalcode" placeholder="Postal Code" value = "{{userinfo.postalcode}}" required >
    </div>
  </div>
  
  


<div class= 'span5' style ="float:right">
<div class = "span6 ordercheckout">
<table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Items in Cart</th>
                </tr>
              </thead>
              <tbody>
              {%for item in listofitems %}
              <tr >
                   <td >
                   <div class= "cartimagecontainer">
                			 <img class= "cartimage" src = "{{MEDIA_URL}}{{item.mainimage.image}}">
                	</div>
                  		<div class= "carttitlecheckout" >
                  		<h4 class="itemtitlecheckout">{{item.name}}</h4>
                  		</div>
                  		<div class = "cartpricecheckout">
                  		                  		<h3>${{item.price}}</h3>
                  		<h5 style="color:red">{%if shippingcost == 0%}Free Shipping{%else%}Shipping: ${{shippingcost}}{%endif%}</h5></div>
					</td>
              </tr>
              {%endfor%}
 			</tbody>
</table>
</div> 
<div class= "span6">
<table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Your Order</th>
                </tr>
              </thead>
              <tbody>
              <tr>
              	<td>
              	<div  class= "ordertotallabel"> <h4 >Subtotal</h4></div>
              	<div class= "subtotalvalue" > <h4>${{subtotal}}</h4></div>
              	</td>
              </tr>
              <tr>
                   <td>
	              	<div  class= "ordertotallabel"> <h4>Shipping Cost</h4></div>
	              	<div class="shippingtotalvalue"> <h4>{%if shippingcost == 0%}Free{%else%}${{shippingcost}}{%endif%}</h4></div>
              		</td>
              </tr>

              <tr >
                   <td>
	              	<div class= "ordertotallabel" > <h3>Total</h3></div>
	              	<div class= "ordertotalvalue" > <h3>${{totalprice}} </h3></div>
              		</td>
              </tr>
 			</tbody>
</table>
</div>

</div>
<!-- 
<div class= 'span6' style ="float:left">
	{% csrf_token %}
	<h3> Payment Information</h3>
	
	<label class="control-label" for="firstnamepayment" ><strong>First Name</strong></label>
	 <div class="controls">
	      <input type="text" id="firstnamepayment" name = "firstnamepayment" placeholder="First Name" required value ="{{user.first_name}}">
	    </div>
	  
	 <label class="control-label" for="lastnamepayment"><strong>Last Name</strong></label>
	 <div class="controls">
	      <input type="text" id="lastnamepayment" name = "lastnamepayment" placeholder="Last Name" required value="{{user.last_name}}">
	    </div>
	    
	 <label class="control-label" for="cardnumber"><strong>Card Number</strong></label>
	 <div class="controls">
	      <input type="text" style="width:300px" id="cardnumber" name = "cardnumber" placeholder="Card Number" required >
	    </div>
	  
	 <label class="control-label" for="address"><strong>City</strong></label>
	 <div class="controls">
	      <input type="text"  id="city" name = "city" placeholder="City" required >
	    </div>
	 
	
	 <label class="control-label" for="province"><strong>Expiration Date</strong></label>
	 <div class="controls">
	 	<select  style= "width:75px" id="expiremonth" name = "expiremonth">
	      <option value = "1">1</option>
	      <option value = "2">2</option>
	      <option value ="3">3</option>
	      <option value ="4">4</option>
	      <option value ="5">5</option>
	      <option value ="6">6</option>
	      <option value ="7">7</option>
	      <option value ="8">8</option>
	      <option value ="9">9</option>
	      <option value ="10">10</option>
	      <option value ="11">11</option>
	      <option value ="12">12</option>
	      </select>
	     
	       	<select  style= "width:100px"id="expireyear" name = "expireyear">
	      <option value = "2013">2013</option>
	      <option value = "2014">2014</option>
	      <option value ="2015">2015</option>
	      <option value ="2016">2016</option>
	      <option value ="2017">2017</option>
	      <option value ="2018">2018</option>
	      <option value ="2019">2019</option>
	      <option value ="2020">2020</option>
	      <option value ="2021">2021</option>
	      <option value ="2022">2022</option>
	      <option value ="2023">2023</option>
	
	      </select>
	    </div>
	    
	     <label class="control-label" for="cvc"><strong>CVC</strong></label>
	 <div class="controls">
	 	<input type="text"  id="cvc" name = "cvc" placeholder="CVC" required >
	    </div>
 </div>
  -->

 
 <!--  
<div class="span6">
<h3>Billing Address</h3>
<input type = "checkbox" id = "samebilling" name="samebilling" checked> Use Shipping Address as Billing Address
</div>
<div class= "span6" id = "billinginformation" style= "display:none;margin-top:10px">
<label class="control-label" for="firstnamebilling" ><strong>First Name</strong></label>
 <div class="controls">
      <input type="text" id="firstnamebilling" name = "firstnamebilling" placeholder="First Name" required value ="{{user.first_name}}">
    </div>
  
 <label class="control-label" for="lastnamebilling"><strong>Last Name</strong></label>
 <div class="controls">
      <input type="text" id="lastnamebilling" name = "lastnamebilling" placeholder="Last Name" required value="{{user.last_name}}">
    </div>
    
 <label class="control-label" for="addressbilling"><strong>Street Address</strong></label>
 <div class="controls">
      <input type="text" style="width:300px" id="addressbilling" name = "addressbilling" placeholder="Street Address" required >
    </div>
  
 <label class="control-label" for="citybilling"><strong>City</strong></label>
 <div class="controls">
      <input type="text"  id="citybilling" name = "citybilling" placeholder="City" required >
    </div>
 
 <label class="control-label" for="provincebilling"><strong>Province</strong></label>
 <div class="controls">
      <input type="text"  id="provincebilling" name = "provincebilling" placeholder="Province" required >
    </div>

 <label class="control-label" for="postalcodebilling"><strong>Postal Code</strong></label>
 <div class="controls">
      <input type="text"  id="postalcodebilling" name = "postalcodebilling" placeholder="Postal Code" required >
    </div>
</div>
 -->
<div class="span12" style="margin-top:50px;text-align:center">

   <button class="btn btn-large btn-success" style="height:60px;width:450px;margin-left:30px" id ="customButton" type="button">Place Order >></button>

 </div>
   <script>
    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };

      StripeCheckout.open({
        key:         'pk_test_BW5jZ6YDfebJwCkky8DcYuqR',
        address:     true,
        amount:      {{totalpricestripe}},
        currency:    'cdn',
        name:        'Payment Summary',
        description: 'Subtotal ${{totalprice}}',
        panelLabel:  'Checkout',
        token:       token
      });
      return false;
    });
  </script>
    
    </form>



  



{%endblock base_content%}