{%extends "base.html" %}
{% block base_content %}
<div class = "span12" style = "text-align:center"><h1>My Cart</h1></div>
<form class = "form-horizontal" id= "mycartform" name= "mycartform" method = "post" enctype="multipart/form-data" style="margin-top:10px">

<input type="hidden" name= "itemtype" id = "itemtype" ></input>
<input type="hidden" name= "itemid" id = "itemid" ></input>
{% if electroniclist|length == 0 and clothinglist|length == 0 %}
<div class = "span12" style = "text-align:center"><h3>You have no items in your cart go <a href="/">shop</a> for something</h3></div>
{% endif %}

{% csrf_token %}
<!-- If there are electronics in the shopping cart -->
{% if electroniclist|length > 0 %}
<div class= "span9"><h3>Electronics</h3></div>


<div class= "span12">
<table class="table table-striped table-bordered">
              <thead>
                <tr>
					
                  <th>Item</th>
                  <th>Price</th>
                  <th>Shipping</th>
                </tr>
              </thead>
              <tbody>
              {% for item in electroniclist %}
                <tr><td class = "itemnamecart" style  ="max-width:200px !important">
                <div  class = 'cartimagecontainer'>
                <a href="/items/single?id={{item.id}}&itemtype=electronics"> <img class= "cartimage" src = "{{MEDIA_URL}}{{item.mainimage.image}}"></a>
                  </div>
                  <div class= "carttitle" >
                  <a href="/items/single?id={{item.id}}&itemtype=electronics"><h4 style="margin-left:10px">{{item.name}}</h4></a></td>
                  </div>
                  <td><h4 style="color:blue">${{item.price}}</h4></td>
                  <td><h4>{%if item.shipping == 0 %}Free{%else%}${{item.shipping}}{%endif%}</h4></td>
                  <td style= "width:150px"><button class="btn btn-danger removefromcartpageelectronics" style="margin-top:10px" id ={{item.id}} >Remove from cart</button> </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
            </div>
            
{% endif %}


<!-- If there is clothing in the shopping cart -->
{% if clothinglist|length > 0 %}
<div class= "span9"><h3>Clothing</h3></div>


<div class= "span12">
<table class="table table-striped table-bordered">
              <thead>
                <tr>
					
                  <th>Item</th>
                  <th>Price</th>
                  <th>Shipping</th>
                </tr>
              </thead>
              <tbody>
              {% for item in clothinglist %}
                <tr><td class = "itemnamecart" style  ="max-width:200px !important">
                <div  class = 'cartimagecontainer'>
                <a href="/items/single?id={{item.id}}&itemtype=clothing"> <img class= "cartimage" src = "{{MEDIA_URL}}{{item.mainimage.image}}"></a>
                  </div>
                  <div class= "carttitle" >
                  <a href="/items/single?id={{item.id}}&itemtype=clothing"><h4 style="margin-left:10px">{{item.name}}</h4></a></td>
                  </div>
                  <td><h4 style="color:blue">${{item.price}}</h4></td>
                  <td><h4>{%if item.shipping == 0 %}Free{%else%}${{item.shipping}}{%endif%}</h4></td>
                  <td style= "width:150px"><button class="btn btn-danger removefromcartpageclothing" style="margin-top:10px" id ={{item.id}} >Remove from cart</button> </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
            </div>
            

{% endif %}

</form>
{% if electroniclist|length != 0 or clothinglist|length != 0 %}
<div class= "span5">
<table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Your Order</th>
                </tr>
              </thead>
              <tbody>
              <tr>
              	<td>
              	<div  class= "ordertotallabel"> <h4 >Subtotal</h4></div>
              	<div class= "subtotalvalue" > <h4>${{subtotal}}</h4></div>
              	</td>
              </tr>
              <tr>
                   <td>
	              	<div  class= "ordertotallabel"> <h4>Shipping Cost</h4></div>
	              	<div class="shippingtotalvalue"> <h4>{%if shippingcost == 0%}Free{%else%}${{shippingcost}}{%endif%}</h4></div>
              		</td>
              </tr>

              <tr >
                   <td>
	              	<div class= "ordertotallabel" > <h3>Total</h3></div>
	              	<div class= "ordertotalvalue" > <h3>${{totalprice}} </h3></div>
              		</td>
              </tr>
 			</tbody>
</table>

</div>
<div class= "span12" style="text-align:center;margin-top:30px">
<a href= "/mycart/checkout"><button class= "btn btn-success" style="text-align:center;width:50%;height:60px;">Proceed With Order</button></a>
</div>
{%endif%}
{%endblock base_content %}
