{%extends "base.html" %}
{% block base_content %}

<div class="span12">
	<h3 style="text-align:center">Order Summary</h3>
</div>
<div class = "span6 ordercheckout" style="float:left;margin-top:30px">
<table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Items in Cart</th>
                </tr>
              </thead>
              <tbody>
              {%for item in listofitems %}
              <tr >
                   <td >
                   <div class= "cartimagecontainer">
                			 <img class= "cartimage" src = "{{MEDIA_URL}}{{item.mainimage.image}}">
                	</div>
                  		<div class= "carttitlecheckout" >
                  		<h4 class="itemtitlecheckout">{{item.name}}</h4>
                  		</div>
                  		<div class = "cartpricecheckout">
                  		                  		<h3>${{item.price}}</h3>
                  		<h5 style="color:red">{%if shippingcost == 0%}Free Shipping{%else%}Shipping: ${{shippingcost}}{%endif%}</h5></div>
					</td>
              </tr>
              {%endfor%}
 			</tbody>
</table>
</div> 
<div class= "span5" style= "float:right;margin-top:30px">
<table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Your Order</th>
                </tr>
              </thead>
              <tbody>
              <tr>
              	<td>
              	<div  class= "ordertotallabel"> <h4 >Subtotal</h4></div>
              	<div class= "subtotalvalue" > <h4>${{subtotal}}</h4></div>
              	</td>
              </tr>
              <tr>
                   <td>
	              	<div  class= "ordertotallabel"> <h4>Shipping Cost</h4></div>
	              	<div class="shippingtotalvalue"> <h4>{%if shippingcost == 0%}Free{%else%}${{shippingcost}}{%endif%}</h4></div>
              		</td>
              </tr>

              <tr >
                   <td>
	              	<div class= "ordertotallabel" > <h3>Total</h3></div>
	              	<div class= "ordertotalvalue" > <h3>${{totalprice}} </h3></div>
              		</td>
              </tr>
 			</tbody>
</table>
</div>

<div class="span12" style="margin-top:30px">
<h3 style= "text-align:center"> Your Order has been successful!</h3> 
<h4 style= "text-align:center">You can view it <a href="/myaccount/mystore#ordersbuy">here</a> or go shop for more stuff <a href= "/">here!</a></h4>
{%endblock base_content %}
</div>